<div class="category-navigator">
  <h1 class="category-navigator--title">חיפוש לפי קטגוריה</h1>

  <div class="category-navigator--items">
    <a href="#" class="item">
      <img
        src="../../img/category-navigator/catItem1.png"
        alt=""
        class="item-img"
      />
      <h4 class="item-text">רכב</h4>
    </a>
    <a href="#" class="item">
      <img
        src="../../img/category-navigator/catItem2.png"
        alt=""
        class="item-img"
      />
      <h4 class="item-text">לבית</h4>
    </a>
    <a href="#" class="item">
      <img
        src="../../img/category-navigator/catItem3.png"
        alt=""
        class="item-img"
      />
      <h4 class="item-text">חשמל ואלקטרוניקה</h4>
    </a>
    <a href="#" class="item">
      <img
        src="../../img/category-navigator/catItem4.png"
        alt=""
        class="item-img"
      />
      <h4 class="item-text">אטרקציות</h4>
    </a>
    <a href="#" class="item">
      <img
        src="../../img/category-navigator/catItem5.png"
        alt=""
        class="item-img"
      />
      <h4 class="item-text">תיירות ונופש</h4>
    </a>
    <a href="#" class="item">
      <img
        src="../../img/category-navigator/catItem6.png"
        alt=""
        class="item-img"
      />
      <h4 class="item-text">תרבות ובידור</h4>
    </a>
    <a href="#" class="item">
      <img
        src="../../img/category-navigator/catItem7.png"
        alt=""
        class="item-img"
      />
      <h4 class="item-text">מסעדות</h4>
    </a>
    <a href="#" class="item">
      <img
        src="../../img/category-navigator/catItem8.png"
        alt=""
        class="item-img"
      />
      <h4 class="item-text">אורח חיים בריא</h4>
    </a>
    <a href="#" class="item">
      <img
        src="../../img/category-navigator/catItem9.png"
        alt=""
        class="item-img"
      />
      <h4 class="item-text">עד הבית ONLINE</h4>
    </a>
    <a href="#" class="item">
      <img
        src="../../img/category-navigator/catItem10.png"
        alt=""
        class="item-img"
      />
      <h4 class="item-text">צרכנות</h4>
    </a>
  </div>
</div>
