@import "../variables.scss";
.login-container {
  max-width: 335px;
  width: 100%;
  border-radius: 20px;
  border: 2px solid $color-white;
  background: $color-white;
  box-shadow: $popup-box-shadow;
  display: flex;
  padding: 28px 24px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &__title {
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    color: $color-style-black;
    margin-bottom: 14px;
    text-align: right;
    width: 100%;
    margin-top: 0;
  }
  &__form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__form-label {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: $color-black;
    margin-bottom: 4px;
  }
  &__form-input {
    border: 1px solid $color-black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-size: 16px;
    &:focus-visible {
      border-bottom: 1px solid;
      outline: unset;
      border-radius: 0;
    }
    &:focus {
    }
    &:focus::placeholder {
      color: transparent;
    }
  }
  // &__form-input:focus-visible {
  //   border: none;
  // }
  &__form-input::placeholder {
    font-size: 16px;
  }
  &__form-input.id {
    margin-bottom: 21px;
    &::placeholder {
      font-size: 12px;
    }
  }
  &__form-input.creditCard {
    margin-bottom: 21px;
    &::placeholder {
      font-size: 12px;
    }
  }
  &__checkbox-wrapper {
    margin-bottom: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
  }
  &__checkbox-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: $color-black;
    cursor: pointer;
  }
  &__checkbox-input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid $color-black;
    border-radius: 4px;
  }
  &__checkbox-input:checked {
    content: "";
    border: none;
    background-image: url("../../img/login/CheckBox.svg");
  }

  &__form-button {
    margin-bottom: 14px;
    border-radius: 6px;
    border: 1px solid $color-white;
    background: $color-primary;
    box-shadow: $color-button;
    color: $color-white;
    padding: 12px 16px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      animation: giggle 0.4s ease forwards;
    }
  }
  &__notAuser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    &-text {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      color: $color-black;
    }
    &-link {
      cursor: pointer;
      color: $color-primary;
      transition: color 0.3s ease, transform 0.3s ease;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }
  @media (min-width: 1200px) {
    max-width: 550px;
    padding: 40px;
    &__title {
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 40px;
    }
    &__form-wrapper {
    }
    &__form-label {
      margin-top: 20px;
      margin-bottom: 12px;
      font-size: 18px;
    }
    &__form-input {
    }
    &__form-input::placeholder {
    }
    &__form-input.id {
      margin-bottom: 20px;

      &::placeholder {
        font-size: 16px;
      }
    }
    &__form-input.creditCard {
      margin-bottom: 16px;
      &::placeholder {
        font-size: 16px;
      }
    }
    &__checkbox-wrapper {
      margin-bottom: 40px;
      gap: 8px;
    }
    &__checkbox-text {
      font-size: 16px;
      cursor: pointer;
    }
    &__checkbox-input {
    }
    &__checkbox-input:checked {
      content: "";
      border: none;
      background-image: url("../../img/login/CheckBox.svg");
    }

    &__form-button {
      margin-bottom: 40px;
      &:hover {
        animation: giggle 0.4s ease forwards;
      }
    }
    &__notAuser {
      gap: 5px;
      &-text {
        font-size: 18px;
      }
      &-link {
        font-size: 18px;
        cursor: pointer;
        color: $color-primary;
        transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
        text-decoration: none;
        &:hover {
          color: $color-primary;
          transform: translateY(-2px);
          text-shadow: 0 0 12px rgba(32, 32, 179, 1);
        }

        &::after {
          content: "";
          position: absolute;
          width: 0%;
          height: 2px;
          bottom: -5px;
          left: 0;
          background-color: $color-primary;
          transition: width 0.2s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}
