@import "../variables.scss";
.order-wrapper {
  border-radius: 4px;
  background: $color-white;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  .horizontal-row {
    margin-block: 13px;
    width: 247px;
    height: 3px;
  }
  .img-wrapper {
    display: flex;
    align-items: center;
    gap: 41px;
    .img {
      width: 80px;
      height: auto;
    }
  }
  .text-wrapper {
    display: flex;
    flex-direction: column;
    b {
    }
    span {
    }
  }

  .price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price-text {
    }
    .price-number {
      border-radius: 38px;
      background: #f8f8f8;
      padding: 4px 16px;
    }
  }
  .vouncher-details {
    display: flex;
    justify-content: space-between;
    .first-col {
    }
    .second-col {
      display: flex;
      flex-direction: column;
    }
  }
  .order-number {
    display: flex;
    justify-content: space-between;
    &--text {
    }
    &--num {
    }
  }
  .order-date {
    display: flex;
    justify-content: space-between;
    &--text {
    }
    &--numWrap {
    }
  }

  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    a {
      cursor: pointer;
    }
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .horizontal-row {
      transform: rotate(90deg);
      width: 1px;
      height: 32px;
    }
    .img-wrapper {
      .img {
      }
    }
    .text-wrapper {
      b {
      }
      span {
      }
    }

    .price-wrapper {
      .price-text {
        display: none;
      }
      .price-number {
      }
    }
    .vouncher-details {
      .first-col {
        display: none;
      }
      .second-col {
      }
    }
    .order-number {
      &--text {
        display: none;
      }
      &--num {
      }
    }
    .order-date {
      &--text {
        display: none;
      }
      &--numWrap {
      }
    }

    .icon-wrapper {
      a {
      }
    }
  }
  @media (min-width: 1600px) {
    .horizontal-row {
    }
    .img-wrapper {
      .img {
      }
    }
    .text-wrapper {
      b {
      }
      span {
      }
    }

    .price-wrapper {
      .price-text {
      }
      .price-number {
      }
    }
    .vouncher-details {
      .first-col {
      }
      .second-col {
      }
    }
    .order-number {
      &--text {
      }
      &--num {
      }
    }
    .order-date {
      &--text {
      }
      &--numWrap {
      }
    }

    .icon-wrapper {
      a {
      }
    }
  }
}
.info-strip {
  display: none;
  @media (min-width: 1200px) {
    display: flex;
    margin-bottom: 12px;
    span {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      color: $color-black;
      text-align: right;
    }
    .first-header {
      flex-basis: 31%;
    }
    .second-header {
      flex-basis: 13%;
    }
    .third-header {
      flex-basis: 17%;
    }
    .forth-header {
      flex-basis: 13%;
    }
    .fifth-header {
      flex-basis: 13%;
    }
  }
}
