<div class="login-container">
  <h2 class="login-container__title">כניסה לחשבון</h2>

  <form action="" class="login-container__form-wrapper">
    <label for="" class="login-container__form-label">מספר תעודת זהות</label>
    <input
      type="text"
      class="login-container__form-input id"
      placeholder="יש להקליד מספר תעודת זהות כולל ספרת ביקורת"
    />

    <label for="" class="login-container__form-label">6 ספרות אחרונות של כרטיס האשראי</label>
    <input
      type="text"
      class="login-container__form-input creditCard"
      placeholder="נא להקליד את 6 הספרות"
    />

    <div class="login-container__checkbox-wrapper">
      <input type="checkbox" id="login-checkbox" class="login-container__checkbox-input" />
      <label for="login-checkbox" class="login-container__checkbox-text">זכור אותי</label>
    </div>
    <button onsubmit="" class="login-container__form-button">כניסה</button>
  </form>
  <div class="login-container__notAuser">
    <span class="login-container__notAuser-text">עדיין לא נרשמת לאתר?</span>
    <a href="/?page=registration" class="login-container__notAuser-link">להרשמה מהירה לחץ כאן</a>
  </div>
</div>
