<div class="lifestyle-slider">
  <div class="swiper lifestyleSwiper">
    <div class="swiper-wrapper">
      <a href="first-slide" class="swiper-slide">
        <picture>
          <source
            srcset="../../img/lifestyle-slider/lifestyle-slide-01.jpg"
            media="(min-width: 1600px)"
          />
          <img
            src="../../img/lifestyle-slider/lifestyle-slide-01.jpg"
            alt="castro slide"
            class="slide-img"
          />
        </picture>

        <div class="text-wrapper">
          <h3 class="slide-text">מתנות סוף שנה למורה</h3>
        </div>
      </a>
      <a href="second-slide" class="swiper-slide">
        <picture>
          <source
            srcset="../../img/lifestyle-slider/lifestyle-slide-02.jpg"
            media="(min-width: 1600px)"
          />
          <img
            src="../../img/lifestyle-slider/lifestyle-slide-02.jpg"
            alt="castro slide"
            class="slide-img"
          />
        </picture>

        <div class="text-wrapper">
          <h3 class="slide-text">מגוון מסעדות שף</h3>
        </div>
      </a>
      <a href="third-slide" class="swiper-slide">
        <picture>
          <source
            srcset="../../img/lifestyle-slider/lifestyle-slide-03.jpg"
            media="(min-width: 1600px)"
          />
          <img
            src="../../img/lifestyle-slider/lifestyle-slide-03.jpg"
            alt="castro slide"
            class="slide-img"
          />
        </picture>

        <div class="text-wrapper">
          <h3 class="slide-text">TOTAL FASHION</h3>
        </div>
      </a>
    </div>
    <div class="pagination-wrapper">
      <div class="swiper-pagination"></div>
      @@include('../../features/slider-pagination.html',{ swiperId:9 })
    </div>
  </div>
</div>
