<!-- * mob/desk categories menu-->
<ul class="header__menu header__menu--categories" id="categories-menu">
  <li class="header__menu-item header__menu-item--category" data-id="1">
    <a class="category-link">
      <div class="image-text">
        <img src="../img/toggle-menus/categories-menu/store.svg" alt="" />
        <span>צרכנות</span>
      </div>

      <span class="header__menu-arrow">
        <svg
          width="21"
          height="22"
          viewBox="0 0 21 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.0714 5.85742L7.92855 11.0003L13.0714 16.1431"
            stroke="black"
            stroke-width="1.37143"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </a>
    <ul
      class="header__menu-subcategories"
      data-subcatId="1"
      style="display: none"
    >
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">אופנה</span>
        </a>
      </li>
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">ביגוד</span></a
        >
      </li>
    </ul>
  </li>

  <div class="break-line"></div>
  <li class="header__menu-item header__menu-item--category" data-id="2">
    <a class="category-link">
      <div class="image-text">
        <img src="../img/toggle-menus/categories-menu/ups.svg" alt="" />
        <span>עד הבית online</span>
      </div>
      <span class="header__menu-arrow">
        <svg
          width="21"
          height="22"
          viewBox="0 0 21 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.0714 5.85742L7.92855 11.0003L13.0714 16.1431"
            stroke="black"
            stroke-width="1.37143"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </a>
    <ul
      class="header__menu-subcategories"
      data-subcatId="2"
      style="display: none"
    >
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">Subcategory 2.1</span></a
        >
      </li>
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">Subcategory 2.2</span></a
        >
      </li>
    </ul>
  </li>

  <div class="break-line"></div>
  <li class="header__menu-item header__menu-item--category" data-id="3">
    <a class="category-link">
      <div class="image-text">
        <img src="../img/toggle-menus/categories-menu/prey-heart.svg" alt="" />
        <span>אורח חיים בריא</span>
      </div>
      <span class="header__menu-arrow">
        <svg
          width="21"
          height="22"
          viewBox="0 0 21 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.0714 5.85742L7.92855 11.0003L13.0714 16.1431"
            stroke="black"
            stroke-width="1.37143"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </a>
    <ul
      class="header__menu-subcategories"
      data-subcatId="3"
      style="display: none"
    >
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">Subcategory 3.1</span></a
        >
      </li>
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">Subcategory 3.2</span></a
        >
      </li>
    </ul>
  </li>

  <div class="break-line"></div>
  <li class="header__menu-item header__menu-item--category" data-id="4">
    <a class="category-link">
      <div class="image-text">
        <img src="../img/toggle-menus/categories-menu/soup.svg" alt="" />
        <span>מסעדות</span>
      </div>
      <span class="header__menu-arrow">
        <svg
          width="21"
          height="22"
          viewBox="0 0 21 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.0714 5.85742L7.92855 11.0003L13.0714 16.1431"
            stroke="black"
            stroke-width="1.37143"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </a>
    <ul
      class="header__menu-subcategories"
      data-subcatId="4"
      style="display: none"
    >
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">Subcategory 4.1</span></a
        >
      </li>
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">Subcategory 4.2</span></a
        >
      </li>
    </ul>
  </li>

  <div class="break-line"></div>
  <li class="header__menu-item header__menu-item--category" data-id="5">
    <a class="category-link">
      <div class="image-text">
        <img src="../img/toggle-menus/categories-menu/youtube.svg" alt="" />
        <span>תרבות ובידור</span>
      </div>
      <span class="header__menu-arrow">
        <svg
          width="21"
          height="22"
          viewBox="0 0 21 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.0714 5.85742L7.92855 11.0003L13.0714 16.1431"
            stroke="black"
            stroke-width="1.37143"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </a>
    <ul
      class="header__menu-subcategories"
      data-subcatId="5"
      style="display: none"
    >
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">Subcategory 5.1</span></a
        >
      </li>
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">Subcategory 5.2</span></a
        >
      </li>
    </ul>
  </li>

  <div class="break-line"></div>
  <li class="header__menu-item header__menu-item--category" data-id="6">
    <a class="category-link">
      <div class="image-text">
        <img src="../img/toggle-menus/categories-menu/beach.svg" alt="" />
        <span>תיירות ונופש</span>
      </div>
      <span class="header__menu-arrow">
        <svg
          width="21"
          height="22"
          viewBox="0 0 21 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.0714 5.85742L7.92855 11.0003L13.0714 16.1431"
            stroke="black"
            stroke-width="1.37143"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </a>

    <ul
      class="header__menu-subcategories"
      data-subcatId="6"
      style="display: none"
    >
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">תיירות פנים</span></a
        >
      </li>
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">טיסות</span></a
        >
      </li>
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">תיירות חוץ</span>
        </a>
      </li>
      <li class="header__menu-subcategory">
        <a href="/eilat" class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">אילת</span>
        </a>
      </li>
    </ul>
  </li>

  <div class="break-line"></div>
  <li
    class="header__menu-item header__menu-item--category last-child"
    data-id="7"
  >
    <a class="category-link">
      <div class="image-text">
        <img src="../img/toggle-menus/categories-menu/shnorkel.svg" alt="" />
        <span>אטרקציות</span>
      </div>
      <span class="header__menu-arrow">
        <svg
          width="21"
          height="22"
          viewBox="0 0 21 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.0714 5.85742L7.92855 11.0003L13.0714 16.1431"
            stroke="black"
            stroke-width="1.37143"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </a>
    <ul
      class="header__menu-subcategories"
      data-subcatId="7"
      style="display: none"
    >
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">Subcategory 7.1</span></a
        >
      </li>
      <li class="header__menu-subcategory">
        <a class="header__menu-subcategory-link"
          ><span class="header__menu-subcategory-text">Subcategory 7.2</span></a
        >
      </li>
    </ul>
  </li>
  <div class="product-image-container">
    @@include('./product-image-container/image-window.html')
    @@include('./product-image-container/product.html')
  </div>
</ul>

<!-- * mob/desk hamburger menu-->
<div class="header__menu header__menu--hamburger" id="hamburger-menu">
  <a href="#hamb#1" class="header__menu-item">
    <img src="../img/toggle-menus/my-corprate-menu/card.svg" alt="" />
    <span> הצטרפות לכרטיס Corporate </span>
  </a>
  <hr class="break-line" />
  <a href="#hamb#2" class="header__menu-item">
    <img src="../img/toggle-menus/my-corprate-menu/heart.svg" alt="" />
    <span> הטבות שאהבתי </span>
  </a>
  <hr class="break-line" />
  <a href="#hamb#3" class="header__menu-item">
    <img src="../img/toggle-menus/my-corprate-menu/star.svg" alt="" />
    <span> הנקודות שלי </span>
  </a>
  <hr class="break-line" />
  <a href="#hamb#4" class="header__menu-item">
    <img src="../img/toggle-menus/my-corprate-menu/present.svg" alt="" />
    <span> מתנת הצטרפות </span>
  </a>
</div>

<!-- * mob/desk corprate menu -->
<div class="header__menu header__menu--corprate" id="corprate-menu">
  <svg
    class="icon"
    viewBox="0 0 64 64"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect
      x="31.8193"
      width="45"
      height="45"
      transform="rotate(45 31.8193 0)"
      fill="white"
    />
  </svg>

  <a href="#corprate-card" class="header__menu-item">
    <span> כרטיס אשראי Corporate </span>
  </a>
  <hr class="break-line" />
  <a href="#topcash" class="header__menu-item">
    <span> TOPCASH </span>
  </a>
  <hr class="break-line" />
  <a href="#google" class="header__menu-item">
    <span> GOOGLE PAY </span>
  </a>
  <hr class="break-line" />
  <a href="#apple" class="header__menu-item">
    <span> APPLE PAY </span>
  </a>
</div>
