<div class="header__row header__row--top">
  <div class="header__hamburger">
    <svg
      class="header__hamburger-icon"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3 12H21M3 6H21M9 18H21"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <a href="/" class="header__logo">
    <img
      src="../img/header_corporate.svg"
      alt="corporate"
      class="header__logo-image header__logo-image--primary"
    />
    <img
      src="../img/header_icon.svg"
      alt="icon"
      class="header__logo-image header__logo-image--secondary"
    />
    <img
      src="../img/header_isracard.svg"
      alt="isracard"
      class="header__logo-image header__logo-image--tertiary"
    />
  </a>
</div>

<div class="header__row header__row--middle">
  <a href="#" class="header__profile">
    <svg
      class="header__profile-icon"
      width="32"
      height="33"
      viewBox="0 0 32 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M5 26.5C7.85485 23.4397 11.7308 21.5588 16 21.5588C20.2692 21.5588 24.1451 23.4397 27 26.5M21.5 11.0588C21.5 14.1289 19.0376 16.6176 16 16.6176C12.9624 16.6176 10.5 14.1289 10.5 11.0588C10.5 7.98877 12.9624 5.5 16 5.5C19.0376 5.5 21.5 7.98877 21.5 11.0588Z"
        stroke="#0B0427"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <span class="header__profile-text"></span>
  </a>
  <a href="/?page=cart" class="header__cart">
    <svg
      class="header__cart-icon"
      width="32"
      height="33"
      viewBox="0 0 32 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10 25.5C10 24.3954 10.8954 23.5 12 23.5C13.1046 23.5 14 24.3954 14 25.5C14 26.6046 13.1046 27.5 12 27.5C10.8954 27.5 10 26.6046 10 25.5Z"
        fill="#0B0427"
      />
      <path
        d="M22 25.5C22 24.3954 22.6716 23.5 23.5 23.5C24.3284 23.5 25 24.3954 25 25.5C25 26.6046 24.3284 27.5 23.5 27.5C22.6716 27.5 22 26.6046 22 25.5Z"
        fill="#0B0427"
      />
      <path
        d="M3 6.5H5.54364C5.75153 6.5 5.93774 6.62864 6.01129 6.82309L10.6962 19.2076C10.9905 19.9854 11.7353 20.5 12.5669 20.5H23.721C24.5749 20.5 25.3346 19.9579 25.6123 19.1504L28.7721 9.96261C28.8838 9.63799 28.6426 9.3 28.2993 9.3H13.111"
        stroke="#0B0427"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <span class="header__cart-text">סל קניות</span>
    <span class="header__cart-count" id="cart-count" style="display: none">1</span>
  </a>
</div>
