.category-page {
  // padding: 20px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .category-navigator {
    display: flex;
  }
  @media (min-width: 1600px) {
    // padding: 20px 60px;
    display: block;
    .category-navigator {
      position: absolute;
      top: 232px;
      z-index: 1;
      background: transparent;
      width: 100%;
      padding: 0;
      &--title {
        display: none;
      }
    }
    .hero-container {
      height: 850px;
    }
  }
}
