@import "../variables.scss";
.category-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  .category-navigator {
    display: flex;
  }
  @media (min-width: 1200px) {
    display: block;
    .category-navigator {
    }
    .hero-container {
      height: 850px;
    }
  }
  @media (min-width: 1600px) {
    display: block;
    .category-navigator {
    }
    .hero-container {
      height: 850px;
    }
  }
}
