<!-- * swiper  -->
<div class="hero-container">
  <div class="swiper heroSlider">
    <div class="swiper-wrapper">
      <!-- #1 -->
      <div class="swiper-slide">
        <picture>
          <source
            srcset="../img/hero/slider-1.png"
            media="(max-width: 1599px)"
          />
          <img src="../img/hero/slider-1_desktop.png" loading="lazy" />
        </picture>

        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        <div class="swiper-text-wrapper">
          <h2 class="swiper-slide-title">ארוחה במקדונלד'ס</h2>
          <h4 class="swiper-slide-subtext">
            <bdi>
              <span class="price-note">₪</span>
              <span class="price-number">15</span>
            </bdi>
            -ב
          </h4>
          <a href="" class="swiper-slide-link"
            ><span class="swiper-link-text">מימוש הטבה</span></a
          >
          <h6 class="swiper-slide-desclamer">
            ההטבה בכפוף לאישור החברה ותנאיה. המנפיקה ישראכרט בע״מ
          </h6>
        </div>
      </div>
      <!-- #2 -->
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-2.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        <div class="swiper-text-wrapper">
          <h2 class="swiper-slide-title">ארוחה במקדונלד'ס</h2>
          <h4 class="swiper-slide-subtext">
            <bdi>
              <span class="price-note">₪</span>
              <span class="price-number">15</span>
            </bdi>
            -ב
          </h4>
          <a href="" class="swiper-slide-link"
            ><span class="swiper-link-text">מימוש הטבה</span></a
          >
          <h6 class="swiper-slide-desclamer">
            ההטבה בכפוף לאישור החברה ותנאיה. המנפיקה ישראכרט בע״מ
          </h6>
        </div>
      </div>
      <!-- #3 -->
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-3.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        <div class="swiper-text-wrapper">
          <h2 class="swiper-slide-title">ארוחה במקדונלד'ס</h2>
          <h4 class="swiper-slide-subtext">
            <bdi>
              <span class="price-note">₪</span>
              <span class="price-number">15</span>
            </bdi>
            -ב
          </h4>
          <a href="" class="swiper-slide-link"
            ><span class="swiper-link-text">מימוש הטבה</span></a
          >
          <h6 class="swiper-slide-desclamer">
            ההטבה בכפוף לאישור החברה ותנאיה. המנפיקה ישראכרט בע״מ
          </h6>
        </div>
      </div>
      <!-- #4 -->
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-4.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        <div class="swiper-text-wrapper">
          <h2 class="swiper-slide-title">ארוחה במקדונלד'ס</h2>
          <h4 class="swiper-slide-subtext">
            <bdi>
              <span class="price-note">₪</span>
              <span class="price-number">15</span>
            </bdi>
            -ב
          </h4>
          <a href="" class="swiper-slide-link"
            ><span class="swiper-link-text">מימוש הטבה</span></a
          >
          <h6 class="swiper-slide-desclamer">
            ההטבה בכפוף לאישור החברה ותנאיה. המנפיקה ישראכרט בע״מ
          </h6>
        </div>
      </div>
      <!-- #5 -->
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-5.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        <div class="swiper-text-wrapper">
          <h2 class="swiper-slide-title">ארוחה במקדונלד'ס</h2>
          <h4 class="swiper-slide-subtext">
            <bdi>
              <span class="price-note">₪</span>
              <span class="price-number">15</span>
            </bdi>
            -ב
          </h4>
          <a href="" class="swiper-slide-link"
            ><span class="swiper-link-text">מימוש הטבה</span></a
          >
          <h6 class="swiper-slide-desclamer">
            ההטבה בכפוף לאישור החברה ותנאיה. המנפיקה ישראכרט בע״מ
          </h6>
        </div>
      </div>
      <!-- #6 -->
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-6.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        <div class="swiper-text-wrapper">
          <h2 class="swiper-slide-title">ארוחה במקדונלד'ס</h2>
          <h4 class="swiper-slide-subtext">
            <bdi>
              <span class="price-note">₪</span>
              <span class="price-number">15</span>
            </bdi>
            -ב
          </h4>
          <a href="" class="swiper-slide-link"
            ><span class="swiper-link-text">מימוש הטבה</span></a
          >
          <h6 class="swiper-slide-desclamer">
            ההטבה בכפוף לאישור החברה ותנאיה. המנפיקה ישראכרט בע״מ
          </h6>
        </div>
      </div>
      <!-- #7 -->
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-7.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        <div class="swiper-text-wrapper">
          <h2 class="swiper-slide-title">ארוחה במקדונלד'ס</h2>
          <h4 class="swiper-slide-subtext">
            <bdi>
              <span class="price-note">₪</span>
              <span class="price-number">15</span>
            </bdi>
            -ב
          </h4>
          <a href="" class="swiper-slide-link"
            ><span class="swiper-link-text">מימוש הטבה</span></a
          >
          <h6 class="swiper-slide-desclamer">
            ההטבה בכפוף לאישור החברה ותנאיה. המנפיקה ישראכרט בע״מ
          </h6>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>

    <!-- ? swiper  -->
  </div>
</div>
