<!-- * swiper  -->
<div class="hero-container">
  <div class="swiper heroSlider">
    <div class="swiper-wrapper">
      <!-- #1 -->
      <div class="swiper-slide first">
        <picture>
          <source srcset="../img/hero/slider-1.png" media="(max-width: 1599px)" />
          <img src="../img/hero/slider-1_desktop.png" class="slider-bg-img first" loading="lazy" />
        </picture>
        <img class="slider-bg-svg first" src="../img/hero/slider-1-desktop.png" alt="" srcset="" />

        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        <div class="swiper-text-wrapper">
          <h2 class="title">ארוחה במקדונלד'ס</h2>
          <h4 class="subtext">
            ב-
            <bdi>
              <span class="price-note">₪</span>
              <span class="price-number">15</span>
            </bdi>
          </h4>
          <a href="" class="link"><span class="link-text">מימוש הטבה</span></a>
          <h6 class="desclamer">ההטבה בכפוף לאישור החברה ותנאיה. המנפיקה ישראכרט בע״מ</h6>
        </div>
      </div>
      <!-- #2 -->
      <div class="swiper-slide">
        <picture>
          <source srcset="../img/hero/slider-2.png" media="(max-width: 1599px)" />
          <img src="../img/hero/slider-2_desktop.png" class="slider-bg-img second" loading="lazy" />
        </picture>
        <img src="../img/hero/slider-2_desktop.png" class="slider-bg-svg second" loading="lazy" />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        <div class="swiper-text-wrapper">
          <h2 class="title">חווית נופש מושלמת</h2>
          <h4 class="subtext second">
            <!-- <bdi>
              <span class="price-note">₪</span>
              <span class="price-number">15</span>
            </bdi> -->
            חלומות התיירות מתגשמים אצלנו<span>לפני כולם</span>
          </h4>
          <!-- <a href="" class="link"
            ><span class="link-text">מימוש הטבה</span></a
          >
          <h6 class="desclamer">
            ההטבה בכפוף לאישור החברה ותנאיה. המנפיקה ישראכרט בע״מ
          </h6> -->
        </div>
      </div>
      <!-- #3 -->
      <div class="swiper-slide">
        <picture>
          <source srcset="../img/hero/slider-2.png" media="(max-width: 1599px)" />
          <img src="../img/hero/slider-2_desktop.png" class="slider-bg-img second" loading="lazy" />
        </picture>
        <img src="../img/hero/slider-2_desktop.png" class="slider-bg-svg third" loading="lazy" />

        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        <div class="swiper-text-wrapper">
          <h2 class="title">ארוחה במקדונלד'ס</h2>
          <h4 class="subtext">
            ב-
            <bdi>
              <span class="price-note">₪</span>
              <span class="price-number">15</span>
            </bdi>
          </h4>
          <a href="" class="link"><span class="link-text">מימוש הטבה</span></a>
          <h6 class="desclamer">ההטבה בכפוף לאישור החברה ותנאיה. המנפיקה ישראכרט בע״מ</h6>
        </div>
      </div>
      <!-- #4 -->
      <div class="swiper-slide">
        <picture>
          <source srcset="../img/hero/slider-2.png" media="(max-width: 1599px)" />
          <img src="../img/hero/slider-2_desktop.png" class="slider-bg-img second" loading="lazy" />
        </picture>
        <img src="../img/hero/slider-2_desktop.png" class="slider-bg-svg forth" loading="lazy" />

        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        <div class="swiper-text-wrapper">
          <h2 class="title">ארוחה במקדונלד'ס</h2>
          <h4 class="subtext">
            ב-
            <bdi>
              <span class="price-note">₪</span>
              <span class="price-number">15</span>
            </bdi>
          </h4>
          <a href="" class="link"><span class="link-text">מימוש הטבה</span></a>
          <h6 class="desclamer">ההטבה בכפוף לאישור החברה ותנאיה. המנפיקה ישראכרט בע״מ</h6>
        </div>
      </div>
      <!-- #5 -->
      <div class="swiper-slide">
        <picture>
          <source srcset="../img/hero/slider-2.png" media="(max-width: 1599px)" />
          <img src="../img/hero/slider-2_desktop.png" class="slider-bg-img second" loading="lazy" />
        </picture>
        <img src="../img/hero/slider-2_desktop.png" class="slider-bg-svg fifth" loading="lazy" />

        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        <div class="swiper-text-wrapper">
          <h2 class="title">ארוחה במקדונלד'ס</h2>
          <h4 class="subtext">
            ב-
            <bdi>
              <span class="price-note">₪</span>
              <span class="price-number">15</span>
            </bdi>
          </h4>
          <a href="" class="link"><span class="link-text">מימוש הטבה</span></a>
          <h6 class="desclamer">ההטבה בכפוף לאישור החברה ותנאיה. המנפיקה ישראכרט בע״מ</h6>
        </div>
      </div>
      <!-- #6 -->
      <div class="swiper-slide">
        <picture>
          <source srcset="../img/hero/slider-2.png" media="(max-width: 1599px)" />
          <img src="../img/hero/slider-2_desktop.png" class="slider-bg-img second" loading="lazy" />
        </picture>
        <img src="../img/hero/slider-2_desktop.png" class="slider-bg-svg sixth" loading="lazy" />

        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        <div class="swiper-text-wrapper">
          <h2 class="title">ארוחה במקדונלד'ס</h2>
          <h4 class="subtext">
            ב-
            <bdi>
              <span class="price-note">₪</span>
              <span class="price-number">15</span>
            </bdi>
          </h4>
          <a href="" class="link"> <span class="link-text">מימוש הטבה</span></a>
          <h6 class="desclamer">ההטבה בכפוף לאישור החברה ותנאיה. המנפיקה ישראכרט בע״מ</h6>
        </div>
      </div>
      <!-- #7 -->
      <div class="swiper-slide">
        <picture>
          <source srcset="../img/hero/slider-2.png" media="(max-width: 1599px)" />
          <img src="../img/hero/slider-2_desktop.png" class="slider-bg-img second" loading="lazy" />
        </picture>
        <img src="../img/hero/slider-2_desktop.png" class="slider-bg-svg seven" loading="lazy" />

        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        <div class="swiper-text-wrapper">
          <h2 class="title">ארוחה במקדונלד'ס</h2>
          <h4 class="subtext">
            ב-
            <bdi>
              <span class="price-note">₪</span>
              <span class="price-number">15</span>
            </bdi>
          </h4>
          <a href="" class="link"><span class="link-text">מימוש הטבה</span></a>
          <h6 class="desclamer">ההטבה בכפוף לאישור החברה ותנאיה. המנפיקה ישראכרט בע״מ</h6>
        </div>
      </div>
    </div>
    <div class="pagination-wrapper">
      <div class="swiper-pagination"></div>
      @@include('./features/slider-pagination.html',{ swiperId:1 })
    </div>
    <!-- ? swiper  -->
  </div>
</div>
