<!-- * swiper  -->
<div class="swiper-container">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-1.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-2.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-3.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-4.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-5.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-6.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-7.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-8.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
      <div class="swiper-slide">
        <img
          src="https://swiperjs.com/demos/images/nature-9.jpg"
          loading="lazy"
        />
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<!-- ? swiper  -->

<!-- Initialize Swiper -->

<!-- Initialize Swiper -->
