<!-- * product-slider  -->
@@include('../home/product-slider/product-slider.html')
<!-- ? product-slider  -->

<!-- * showcase-slider  -->
@@include('../home/showcase-slider/showcase-slider.html')
<!-- ? showcase-slider  -->

<!-- * sale-slider  -->
@@include('../home/sale-slider/sale-slider.html')
<!-- ? sale-slider  -->

<!-- * lifestyle-slider  -->
@@include('../home/lifestyle-slider/lifestyle-slider.html')
<!-- ? lifestyle-slider  -->

<!-- * voucher-slider  -->
@@include('../home/voucher-slider/voucher-slider.html')
<!-- ? voucher-slider  -->

<!-- *category navigator -->
@@include('../category-navigator/category-navigator.html')
<!-- ?category navigator -->
