<div class="coupon-info-card">
  <!-- the info with the toggle will be here  -->

  <div class="toggles">
    <button class="toggle" data-toggle="info1">
      פרטי המוצר
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="21"
        viewBox="0 0 21 21"
        fill="none"
      >
        <path
          d="M13.25 5.67139L8.25 10.6714L13.25 15.6714"
          stroke="white"
          stroke-width="1.66667"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button class="toggle" data-toggle="info2">
      פרטי הספק
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="21"
        viewBox="0 0 21 21"
        fill="none"
      >
        <path
          d="M13.25 5.67139L8.25 10.6714L13.25 15.6714"
          stroke="white"
          stroke-width="1.66667"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
  <div class="info-container">
    <div class="info info1">
      <h2 class="title">פרטי המוצר</h2>
      <p class="details">
        תווי קניה ל-CASTRO למימוש בחנויות ובאתרבשווי ₪200 לרשימת סניפי CASTRO בהם ניתן לממש את
        השובר לחצו כאן>>למימוש ורכישה באתר CASTRO לחצו כאן>>
      </p>

      <h2 class="second-title">חשוב לדעת</h2>
      <p class="note">
        <span>*ניתן לממש את השובר בחנויות המותג בפריסה ארצית ובאתר קסטרו אונליין</span><br />
        <span>*מימוש בקופה באמצעות פרקסל</span><br />
        <span>*תוקף למימוש השובר- 5 שנים</span><br />
        <span
          >כולל מבצעים והנחות
          <br />
          ניתן לממש שובר 1 בעסקה</span
        ><br />
        <span>*ניתן לממש יתרת שובר ברכישה הבאה</span><br />
        <span>*לבירור יתרה בשובר לחצו כאן</span><br />
        <span>
          *למימוש השובר באתר יש לעבור לאזור ה- CHECK OUT באתר. לאחר מכן יש לבחור תשלום באמצעות GIFT
          CARD/תווי קנייה >> בחר כרטיס למימוש >> אמצעי תשלום באמצעות LOVE GIFT CARD >> הקוד למימוש
          הינו 16 הספרות שבגב הכרטיס או הקוד הדיגיטלי שקיבלתם.התשלום בשוברים יהיה דרך הצ'ק אאוט באתר
          – GIFT CARD/ תווי קנייה. </span
        ><br />
        <span>*לא ניתן לממש את השובר בחנויות עודפים ו/או לרכוש פרטי עודפים</span><br />
        <span>*לא ניתן לרכוש כרטיס מתנה באמצעות הקוד</span><br />
        <span>*לקוחות מועדון CU של קסטרו יהנו מצבירת נקודות בעת הרכישה</span><br />
        <span>*השימוש בכפוף ל-תקנון LOVE CARD</span><br />
        <span>*עד גמר המלאי*התמונה להמחשה בלבד</span><br />
        <span>*ט.ל.ח</span><br />
        <span>
          *לאחר חלוף תוקף מימוש השובר, לא ניתן יהיה לממש את השובר ולא יינתן זיכוי או החזר כספי בגינו </span
        ><br />
      </p>
    </div>
    <div class="info info2">
      <p>This is the content for Info 2.</p>
    </div>
  </div>
</div>
