<div class="voucher-slider">
  @@include('../../features/section-header.html',{ 'placeholder-text':'שוברים' })
  <div #swiperRef="" class="swiper VoucherSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        @@include('../../features/voucher-card.html', { "bgimg": "voucher-img1.jpg", "logoimg":
        "golbary.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown": "true",
        "subtext": "", "discountText": "לרכישה ב-₪80", "discountSubtext": "שובר בשווי 100 ₪",
        "isStampShown":"false" })
      </div>
      <div class="swiper-slide">
        @@include('../../features/voucher-card.html',{ "bgimg":"voucher-img2.jpg",
        "logoimg":"pizzahut.png","stampfill":"2020b3", "stampText": "הטבת פרימיום",
        "subtext":"משפחתית+שתייה","discountText":"לרכישה ב-₪69","discountSubtext":" בשווי 83 ₪",
        "isCounterShown":"false","isStampShown":"false" })
      </div>
      <div class="swiper-slide">
        @@include('../../features/voucher-card.html', { 'bgimg': 'voucher-img3.jpg', 'logoimg':
        'stevemadden.png', 'stampfill': '000000', 'stampText': '5% הנחה בחיוב', 'isCounterShown':
        'false', 'subtext': '', 'discountText': 'לרכישה ב-₪165','discountSubtext':'שובר בשווי 200 ₪'
        ,'isStampShown':'false'})
      </div>
      <div class="swiper-slide">
        @@include('../../features/voucher-card.html', { "bgimg": "voucher-img4.jpg", "logoimg":
        "agadir.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown": "false",
        "subtext": "ארוחת שלישיה אגאדיר", "discountText": "4% הנחה", "discountSubtext":"בשווי 83 ₪",
        "isStampShown":"false" })
      </div>
      <div class="swiper-slide">
        @@include('../../features/voucher-card.html', { "bgimg": "voucher-img5.jpg","logoimg":
        "maffeneman.png","stampfill":"2020b3","stampText": "הטבת פרימיום","isCounterShown": "false",
        "subtext":"שובר למאפה נאמן","discountText": "לרכישה ב-₪87","discountSubtext":"בשווי 100 ₪",
        "isStampShown":"false" })
      </div>
      <div class="swiper-slide">
        @@include('../../features/voucher-card.html', { "bgimg": "voucher-img1.jpg", "logoimg":
        "golbary.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown": "true",
        "subtext": "", "discountText": "לרכישה ב-₪80", "discountSubtext": "שובר בשווי 100 ₪",
        "isStampShown":"false" })
      </div>
      <div class="swiper-slide">
        @@include('../../features/voucher-card.html',{ "bgimg":"voucher-img2.jpg",
        "logoimg":"pizzahut.png","stampfill":"2020b3", "stampText": "הטבת פרימיום",
        "subtext":"משפחתית+שתייה","discountText":"לרכישה ב-₪69","discountSubtext":" בשווי 83 ₪",
        "isCounterShown":"false","isStampShown":"false" })
      </div>
      <div class="swiper-slide">
        @@include('../../features/voucher-card.html', { 'bgimg': 'voucher-img3.jpg', 'logoimg':
        'stevemadden.png','stampfill':'000000','stampText':'5% הנחה בחיוב','isCounterShown':
        'false', 'subtext':'','discountText':'לרכישה ב-₪169', 'discountSubtext': 'שובר בשווי 200 ₪'
        ,'isStampShown':'false'})
      </div>
      <div class="swiper-slide">
        @@include('../../features/voucher-card.html', { "bgimg": "voucher-img4.jpg", "logoimg":
        "agadir.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown": "false",
        "subtext": "ארוחת שלישיה אגאדיר", "discountText": "4% הנחה", "discountSubtext":"בשווי 83 ₪",
        "isStampShown":"false" })
      </div>
      <div class="swiper-slide">
        @@include('../../features/voucher-card.html', { "bgimg": "voucher-img5.jpg","logoimg":
        "maffeneman.png","stampfill":"2020b3","stampText": "הטבת פרימיום","isCounterShown": "false",
        "subtext":"שובר למאפה נאמן","discountText":"לרכישה ב-₪87","discountSubtext":"בשווי 100 ₪",
        "isStampShown":"false" })
      </div>
    </div>

    <div class="static-slide">
      <a href="#" class="link">
        <h2 class="title">
          להטבות
          <br />
          נוספות
          <br />
          בקטגוריה
        </h2>
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 35" fill="none">
          <rect x="1" y="1" width="34" height="33" rx="16.5" stroke="white" stroke-width="2" />
          <path
            d="M25.0827 18.01H10.916M10.916 18.01L17.9993 24.885M10.916 18.01L17.9993 11.135"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>
    <div class="pagination-wrapper">
      <div class="swiper-pagination"></div>
      @@include('../../features/slider-pagination.html',{ swiperId:6 })

      <!-- new -->
      <div class="swiper-button-prev">
        <!-- Custom SVG or text for 'prev' -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
          <path
            d="M15 18l-6-6 6-6"
            stroke="#000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-button-next">
        <!-- Custom SVG or text for 'next' -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
          <path
            d="M9 6l6 6-6 6"
            stroke="#000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <!--  -->
    </div>
  </div>

  <!-- *mobile -->
  <div class="swiper vouchermobileSwiper" dir="rtl">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide-group">
          <div class="single-slide">
            @@include('../../features/voucher-card.html', { "bgimg": "voucher-img1.jpg", "logoimg":
            "golbary.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
            "true","subtext": "","discountText":"לרכישה ב-₪80","discountSubtext":"שובר בשווי 100 ₪",
            "isStampShown":"false" })
          </div>
          <div class="single-slide">
            @@include('../../features/voucher-card.html',{ "bgimg":"voucher-img2.jpg",
            "logoimg":"pizzahut.png","stampfill":"2020b3", "stampText": "הטבת פרימיום",
            "subtext":"משפחתית+שתייה","discountText":"₪55","discountSubtext":" בשווי 83 ₪",
            "isCounterShown":"false","isStampShown":"false" })
          </div>
          <div class="single-slide">
            @@include('../../features/voucher-card.html', { 'bgimg': 'voucher-img3.jpg', 'logoimg':
            'stevemadden.png', 'stampfill': '000000', 'stampText': '5% הנחה בחיוב',
            'isCounterShown': 'false', 'subtext': '', 'discountText': '4% הנחה', 'discountSubtext':
            'שובר בשווי 200 ₪ ','isStampShown':'false'})
          </div>
          <div class="single-slide">
            @@include('../../features/voucher-card.html', { "bgimg": "voucher-img4.jpg", "logoimg":
            "agadir.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
            "false", "subtext": "ארוחת שלישיה אגאדיר", "discountText": "4% הנחה", "discountSubtext":
            "בשווי 83 ₪", "isStampShown":"false" })
          </div>
          <div class="single-slide">
            @@include('../../features/voucher-card.html', { "bgimg": "voucher-img5.jpg", "logoimg":
            "maffeneman.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
            "false", "subtext": "שובר למאפה נאמן", "discountText": "4% הנחה", "discountSubtext":
            "בשווי 100 ₪", "isStampShown":"false" })
          </div>
          <div class="single-slide static">
            <a href="#" class="link">
              <h2 class="title">להטבות נוספות בקטגוריה</h2>
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 35" fill="none">
                <rect
                  x="1"
                  y="1"
                  width="34"
                  height="33"
                  rx="16.5"
                  stroke="white"
                  stroke-width="2"
                />
                <path
                  d="M25.0827 18.01H10.916M10.916 18.01L17.9993 24.885M10.916 18.01L17.9993 11.135"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide-group">
          <div class="single-slide">
            @@include('../../features/voucher-card.html', { "bgimg": "voucher-img1.jpg", "logoimg":
            "golbary.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
            "true", "subtext": "", "discountText": "4% הנחה", "discountSubtext": "שובר בשווי 100 ₪",
            "isStampShown":"false" })
          </div>
          <div class="single-slide">
            @@include('../../features/voucher-card.html',{ "bgimg":"voucher-img2.jpg",
            "logoimg":"pizzahut.png","stampfill":"2020b3", "stampText": "הטבת פרימיום",
            "subtext":"משפחתית+שתייה","discountText":"₪55","discountSubtext":" בשווי 83 ₪",
            "isCounterShown":"false","isStampShown":"false" })
          </div>
          <div class="single-slide">
            @@include('../../features/voucher-card.html', { 'bgimg': 'voucher-img3.jpg', 'logoimg':
            'stevemadden.png', 'stampfill': '000000', 'stampText': '5% הנחה בחיוב',
            'isCounterShown': 'false', 'subtext': '', 'discountText': '4% הנחה', 'discountSubtext':
            'שובר בשווי 200 ₪ ','isStampShown':'false'})
          </div>
          <div class="single-slide">
            @@include('../../features/voucher-card.html', { "bgimg": "voucher-img4.jpg", "logoimg":
            "agadir.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
            "false", "subtext": "ארוחת שלישיה אגאדיר", "discountText": "4% הנחה", "discountSubtext":
            "בשווי 83 ₪", "isStampShown":"false" })
          </div>
          <div class="single-slide">
            @@include('../../features/voucher-card.html', { "bgimg": "voucher-img5.jpg", "logoimg":
            "maffeneman.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
            "false", "subtext": "שובר למאפה נאמן", "discountText": "4% הנחה", "discountSubtext":
            "בשווי 100 ₪", "isStampShown":"false" })
          </div>
          <div class="single-slide static">
            <a href="#" class="link">
              <h2 class="title">להטבות נוספות בקטגוריה</h2>
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 35" fill="none">
                <rect
                  x="1"
                  y="1"
                  width="34"
                  height="33"
                  rx="16.5"
                  stroke="white"
                  stroke-width="2"
                />
                <path
                  d="M25.0827 18.01H10.916M10.916 18.01L17.9993 24.885M10.916 18.01L17.9993 11.135"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination-wrapper">
      <div class="swiper-pagination"></div>
      @@include('../../features/slider-pagination.html',{ swiperId:7 })
    </div>
  </div>
</div>
