<div class="cart-page__items">
  <h2 class="cart-page__items-title">הפריטים שלי</h2>
  <div class="cart-page__separator-dekstop"></div>
  <div class="cart-page__item">
    <img src="../../img/cart/cart-img.jpg" alt="" class="cart-page__item-image" />
    <div class="cart-page__item-details">
      <h3 class="cart-page__item-title">שובר ל- CASTRO</h3>
      <h4 class="cart-page__item-subtitle">שם הספק: <span>קסטרו</span></h4>
    </div>
  </div>
  @@include('../features/seperator.html',{ "pageName":'cart' })
  <div class="cart-page__total">
    <span class="cart-page__total-label">סה״כ</span>
    <span class="cart-page__total-price"><span class="note">₪</span>200</span>
  </div>
</div>
