<div class="payment__items">
  <h2 class="payment__items-title">סיכום הזמנה</h2>
  <div class="payment__separator payment__separator--desktop"></div>
  <div class="payment__item">
    <img src="../../img/cart/cart-img.jpg" alt="" class="payment__item-image" />
    <div class="payment__item-details">
      <h3 class="payment__item-title">שובר ל- CASTRO</h3>
      <div class="payment__item-price"><span class="payment__total-note">₪</span>200</div>
      <h4 class="payment__item-subtitle">
        שם הספק: <span class="payment__item-supplier">קסטרו</span>
      </h4>
    </div>
    <!-- todo to finish price desktop -->
    <div class="payment__item-price desktop"><span class="payment__total-note">₪</span>200</div>
  </div>
  <div class="payment__separator"></div>

  <div class="payment__total">
    <span class="payment__total-label">סה״כ לתשלום</span>
    <span class="payment__total-price"> <span class="payment__total-note">₪</span>200 </span>
  </div>
  <div class="payment__total">
    <span class="payment__total-label">סה"כ תשלום בנקודות</span>
    <span class="payment__total-price"> <span class="payment__total-note">₪</span>200 </span>
  </div>
  <div class="payment__total">
    <span class="payment__total-label">סה"כ (אשראי + נקודות)</span>
    <span class="payment__total-price"> <span class="payment__total-note">₪</span>200 </span>
  </div>
</div>
