$header-bg: #ffffff;
$black: #000;
$blue: #2020b3;
$box-shadow: 0px 2.286px 7.429px rgba(0, 0, 0, 0.16);
$box-shadow-search: 0px 7px 20px rgba(0, 0, 0, 0.12);

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $header-bg;

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .header__logo {
      gap: 10px;
      display: flex;
      align-items: center;

      &-image {
        &--primary {
        }
        &--secondary {
          width: 47.353px;
          height: auto;
        }
        &--tertiary {
        }
      }
    }

    .header__hamburger {
      cursor: pointer;
      display: flex;
      align-items: center;

      &-icon {
      }
      @media (min-width: 1600px) {
        display: none;
      }
    }

    .header__cart {
      display: flex;
      gap: 6px;
      justify-content: center;
      align-items: center;
      &-text {
        font-size: 18px;
        font-weight: 500;
        color: $black;
        display: flex;
        align-items: center;
      }
      &-count,
      &-icon {
      }
      @media (min-width: 1600px) {
        &-text {
          display: none;
        }
      }
    }

    .header__profile {
      display: flex;
      align-items: center;
      gap: 6px;

      &-text {
        font-size: 18px;
        font-weight: 500;
        color: $black;
      }
      &-icon {
      }
      @media (min-width: 1600px) {
        flex-direction: column-reverse;
      }
    }

    .header__button {
      width: 160px;
      height: 40px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      border-radius: 6px;
      border: 1px solid $black;
      background: $header-bg;
      box-shadow: $box-shadow;
      padding: 6px 14px;

      &--active {
        background-color: $blue;
      }

      &-text {
        font-size: 13px;
        font-weight: 600;
      }
      &-arrow {
        width: 21px;
        height: 21px;
      }

      &--menuItem {
        transition: background-color 0.3s ease, color 0.3s ease;
      }
      &--category {
        transition: background-color 0.3s ease, color 0.3s ease;
      }
    }

    .active-button {
      background-color: #2020b3;
      color: #fff;
    }
    &--top {
    }
    &--middle {
    }

    &--search {
      .icon {
        width: 40px;
        height: auto;
        position: absolute;
        transform: translate(10px, 5px);
      }
    }
    &--buttons {
    }
  }

  @media (min-width: 992px) {
  }
  @media (min-width: 1200px) {
  }
  @media (min-width: 1600px) {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 32px);
    z-index: 100;
    border-radius: 12px;
    padding: 30px;
    justify-content: space-between;
    &__row {
      &--top {
      }
      &--middle {
        order: 2;
        flex-basis: 10%;
      }

      &--search {
        order: 0;
        flex-basis: 75%;
        .icon {
          top: 50%;
          transform: translate(10px, -50%);
        }
      }
      &--buttons {
        order: 1;
      }
    }

    .header__logo {
    }
    .header__hamburger {
    }
    .header__cart {
    }
    .header__profile {
    }
    .header__hamburger {
    }

    .header__button {
      &--menuItem {
        position: absolute;
        right: 0;
        bottom: -36px;
        height: 70px;
        width: 308px;
        border: unset;
      }
      &--category {
        display: none;
      }
      &-text {
        font-size: 30px;
      }
      &-arrow {
        width: 36px;
        height: auto;
      }
    }
  }
}

.header__menu {
  max-height: 0;
  overflow: hidden;
  flex-direction: column;
  padding: 0;
  transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;

  &-item {
    padding: 12px 8px;
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 8px;
    span {
      font-size: 18px;
    }
    img {
      width: 32px;
      height: auto;
    }
    div {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 8px;
    }
    &--category {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
    }
    .break-line {
      background: rgba(99, 39, 241, 0.1);
    }
  }

  &-subcategory {
    padding-left: 20px;
    display: none;
    padding: 10px 20px;
    text-align: right;
    &-text {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
    }
  }
  @media (min-width: 992px) {
  }
  @media (min-width: 1200px) {
  }
  @media (min-width: 1600px) {
    display: none;
  }
}

.header__search-bar {
  width: 100%;
  padding: 5px 16px;
  border-radius: 100px;
  border: 3px solid $header-bg;
  background: $header-bg;
  box-shadow: $box-shadow-search;
  height: 35px;
  font-size: 18px;
  @media (min-width: 992px) {
  }
  @media (min-width: 1200px) {
  }
  @media (min-width: 1600px) {
    height: 55px;
  }
}

.show {
  display: block;
  max-height: fit-content;
  transition: max-height 0.4s ease-in;
  padding: 12px 20px;
}

.rotate {
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

.open-menu {
  color: $header-bg;
  background-color: $blue;
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}
