.hero-container {
  .swiper {
    width: 100%;
    // height: 473px;
    height: 100%;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .swiper-text-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 61px;
        .swiper-slide-title {
          font-size: 30px;
          font-weight: 600;
          color: #101820;
          margin-bottom: 0;
        }
        .swiper-slide-subtext {
          font-size: 67.435px;
          font-style: normal;
          font-weight: 700;
          color: #101820;
          margin-top: 0;
          margin-bottom: 0;
          display: flex;
          .price-number {
            font-size: 67.435px;
            font-weight: 700;
          }
          .price-note {
            font-size: 41.951px;
            font-style: normal;
            font-weight: 700;
            color: #101820;
          }
        }
        .swiper-slide-link {
          display: flex;
          width: 200px;
          padding: 14px 20px 14px 20px;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          background: #101820;
          margin-bottom: 28px;
          text-decoration: none;
          .swiper-link-text {
            font-size: 25.484px;
            font-style: normal;
            font-weight: 600;
            color: #fff;
          }
        }
        .swiper-slide-desclamer {
          font-size: 10.869px;
          font-style: normal;
          font-weight: 500;
          line-height: 12px;
          color: #101820;
          margin: 0;
        }
      }
    }
    @media (min-width: 1600px) {
      height: 100vh;
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .swiper-text-wrapper {
          position: absolute;
          right: 150px;
          top: 317px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .swiper-slide-title {
            font-size: 71.98px;
            font-weight: 600;
            color: #101820;
            margin-bottom: 0;
          }
          .swiper-slide-subtext {
            font-size: 103.201px;
            font-style: normal;
            font-weight: 700;
            color: #101820;
            margin-top: 0;
            margin-bottom: 0;
            display: flex;
            .price-number {
              font-size: 103.201px;
              font-weight: 700;
            }
            .price-note {
              font-size: 64.201px;
              font-style: normal;
              font-weight: 700;
              color: #101820;
            }
          }
          .swiper-slide-link {
            display: flex;
            width: 295px;
            padding: 14px 20px 14px 20px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background: #101820;
            margin-bottom: 28px;
            text-decoration: none;
            .swiper-link-text {
              font-size: 39px;
              font-style: normal;
              font-weight: 600;
              color: #fff;
            }
          }
          .swiper-slide-desclamer {
            font-size: 10.869px;
            font-style: normal;
            font-weight: 500;
            line-height: 12px;
            color: #101820;
            margin: 0;
          }
        }
      }
    }
  }
}
