.hero-container {
  height: 485px;
  margin-bottom: 12px;
  .swiper {
    width: 100%;
    // height: 473px;
    background-color: #fff;
    height: 100%;
    max-width: 385px;

    .pagination-wrapper {
      display: none;
      .swiper-pagination {
        .swiper-pagination-bullet-active {
          background: #000;
        }
      }
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 473px;
      z-index: 1;
      background-image: linear-gradient(to right top, #ffffff, #fcfcff, #f9f8ff, #f6f5ff, #f2f2ff);
      border-radius: 20px;
      box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.08);

      picture {
        height: 100%;
        position: absolute;
        z-index: 1;

        .slider-bg-img {
          display: block;
          // width: 100%;
          // height: 100%;
          object-fit: cover;
          height: auto;
          // max-height: 100%;
          position: relative;
        }

        .slider-bg-img.first {
          width: 225px;
        }

        .slider-bg-img.second {
          width: 245px;
          top: 25px;
        }
        .slider-bg-img.third {
        }
        .slider-bg-img.forth {
        }
        .slider-bg-img.fifth {
        }
        .slider-bg-img.sixth {
        }
        .slider-bg-img.seven {
        }
      }
      .slider-bg-svg {
        display: none;
      }
      .swiper-text-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 31px;
        z-index: 1;
        .title {
          font-size: 30px;
          font-weight: 600;
          color: #101820;
          margin-bottom: 0;
          z-index: 1;
        }
        .subtext {
          font-size: 67.435px;
          font-style: normal;
          font-weight: 700;
          color: #101820;
          margin-top: 0;
          margin-bottom: 0;
          display: flex;
          .price-number {
            font-size: 67.435px;
            font-weight: 700;
          }
          .price-note {
            font-size: 41.951px;
            font-style: normal;
            font-weight: 700;
            color: #101820;
          }
        }
        .subtext.second {
          font-size: 20px;
          display: flex;
          flex-direction: column;
          span {
            font-size: 20px;
          }
        }
        .link {
          display: flex;
          width: 200px;
          padding: 14px 20px 14px 20px;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          background: #101820;
          margin-bottom: 28px;
          text-decoration: none;
          .link-text {
            font-size: 25.484px;
            font-style: normal;
            font-weight: 600;
            color: #fff;
          }
        }
        .desclamer {
          font-size: 10.869px;
          font-style: normal;
          font-weight: 500;
          line-height: 12px;
          color: #101820;
          margin: 0;
        }
      }
    }
  }
  @media (min-width: 1600px) {
    height: 735px;
    margin-bottom: 0;
    .swiper {
      max-width: unset;
      .pagination-wrapper {
        display: flex;
        .swiper-pagination {
          .swiper-pagination-bullet-active {
            background: #000;
          }
        }
        .pagination-swiper-location {
          display: flex;
          position: absolute;
          z-index: 2;
          left: calc(50% - 123px);
          bottom: 6px;
          align-items: center;
          gap: 2px;
          .pagination-swiper-current {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            color: #000;
          }
          .pagination-swiper-of {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.2);
          }
          .pagination-swiper-length {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.2);
          }
        }
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        // max-height: 765px;
        background-image: linear-gradient(
          to right top,
          #ffffff,
          #fcfcff,
          #f9f8ff,
          #f6f5ff,
          #f2f2ff
        );
        border-radius: unset;
        picture {
          source {
          }
          .slider-bg-img {
            display: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .slider-bg-img.first {
          }
          .slider-bg-img.second {
          }
          .slider-bg-img.third {
          }
          .slider-bg-img.forth {
          }
          .slider-bg-img.fifth {
          }
          .slider-bg-img.sixth {
          }
          .slider-bg-img.seven {
          }
        }
        .slider-bg-svg {
          display: block;
          position: absolute;
          left: calc(50% - 661px);
          top: 236px;
          z-index: 1;
          max-width: 512px;
        }
        .slider-bg-svg.first {
        }
        .slider-bg-svg.second {
        }
        .swiper-text-wrapper {
          position: absolute;
          right: calc(50% - 700px);
          top: 317px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          z-index: 1;
          .title {
            font-size: 71.98px;
            font-weight: 600;
            color: #101820;
            margin-bottom: 0;
            margin-top: 0;
          }
          .subtext {
            font-size: 103.201px;
            font-style: normal;
            font-weight: 700;
            color: #101820;
            margin-top: 0;
            margin-bottom: 0;
            display: flex;
            .price-number {
              font-size: 103.201px;
              font-weight: 700;
            }
            .price-note {
              font-size: 64.201px;
              font-style: normal;
              font-weight: 700;
              color: #101820;
            }
          }
          .subtext.second {
            font-size: 49.98px;
            font-style: normal;
            font-weight: 400;
            display: flex;
            gap: 10px;
            span {
              font-weight: 500;
              font-size: 49.98px;
            }
          }
          .link {
            display: flex;
            width: 295px;
            padding: 14px 20px 14px 20px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background: #101820;
            margin-bottom: 28px;
            text-decoration: none;
            .link-text {
              font-size: 39px;
              font-style: normal;
              font-weight: 600;
              color: #fff;
            }
          }
          .desclamer {
            font-size: 10.869px;
            font-style: normal;
            font-weight: 500;
            line-height: 12px;
            color: #101820;
            margin: 0;
          }
        }
      }
    }
  }
}
