@import "./variables.scss";
.category-navigator {
  //   height: 808px;
  padding: 40px 58px;
  background-color: $header-bg;
  &--title {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    color: $color-style-black;
    text-align: center;
  }
  &--items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    .item {
      width: 142px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      .item-img {
        width: 75px;
        height: auto;
      }
      .item-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        color: #46494f;
        text-align: center;
      }
    }
  }

  @media (min-width: 1600px) {
    padding: 60px;
    &--title {
      margin: 0 0 30px;
      font-size: 54px;
      font-style: normal;
      font-weight: 500;
      color: #0b0427;
    }
    &--items {
      justify-content: space-between;
      .item {
        .item-img {
        }
        .item-text {
        }
      }
    }
  }
}
