@import "./variables.scss";
.category-navigator {
  //   height: 808px;
  padding: 40px 20px;
  background-color: $header-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--title {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    color: $color-style-black;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
  }
  &--items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 321px;
    flex-direction: row-reverse;

    .item {
      width: 142px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(0.8);
      }
      .item-img {
        width: 75px;
        height: auto;
      }
      .item-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        color: $color-grey;
        text-align: center;
        margin: 8px auto 0;
      }
    }
  }
  @media (min-width: 1200px) {
    &--items {
      justify-content: space-between;
      max-width: 991px;
      .item {
        .item-img {
        }
        .item-text {
        }
      }
    }
  }
  @media (min-width: 1600px) {
    padding: 60px;
    &--title {
      margin: 0 0 30px;
      font-size: 54px;
      font-style: normal;
      font-weight: 500;
      color: $color-style-black;
      position: relative;
      display: inline-block;
      transition: color 0.3s ease, transform 0.3s ease;

      &:hover {
        color: $color-primary;
        transform: translateY(-5px);
      }

      &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: $color-primary;
        transition: width 0.2s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
    &--items {
      justify-content: space-between;
      max-width: unset;
      gap: 5px;
      .item {
        .item-img {
        }
        .item-text {
        }
      }
    }
  }
}
