.coupon-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f5f5f5;
  padding-top: 12px;
  // * coupon-img-wrapper
  .coupon-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 20px 20px 0 0;
    border: 2px solid #fff;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.08);
    width: 335px;

    .img {
      width: 335px;
      height: auto;
      border-radius: 20px 20px 0 0;
    }
    .img-text {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      gap: 10px;
      color: #fff;
      margin: 0 auto 24px;

      .icon {
        width: 26.966px;
        height: auto;
      }
      span {
      }
    }
  }
  // ? coupon-img-wrapper

  // * coupon-card
  .coupon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
    border: 2px solid #fff;
    background: #fff;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.08);
    width: 335px;
    padding: 0 24px 28px;
    margin-bottom: 12px;
    .logo {
      width: 277px;
      height: auto;
      margin-bottom: 10px;
    }
    .price-wrapper {
      display: flex;
      justify-content: center;
      border-radius: 6px;
      border: 1px solid #fff;
      background: radial-gradient(173.35% 566.74% at 86.58% 221.84%, #fff 0%, #e8e8ff 100%);
      box-shadow: 0px 4px 12px 0px rgba(65, 56, 242, 0.08);
      max-width: 287px;
      .Benefit-value-box {
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          margin: 0 auto 4px;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          color: #46494f;
        }
        .text {
          margin-bottom: 4px;
          color: #46494f;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
        }
      }
      .discount-price-box {
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          margin: 0 auto 4px;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          color: #46494f;
        }

        .text {
          margin-bottom: 4px;
          color: #46494f;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
        }
        .subtext {
          color: #46494f;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
        }
      }
      .club-price-box {
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          margin: 0 auto 4px;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          color: #46494f;
        }
        .text {
          margin-bottom: 4px;
          color: #2020b3;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
        }
        .subtext {
          color: #2020b3;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
        }
      }
    }

    //  * progress bar
    .progress-container {
      width: 100%;
      max-width: 300px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
      .title {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        color: #46494f;
        margin: 0 auto;
      }
      .points {
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        color: #4138f2;
      }
      .range-labels {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        color: #46494f;
        margin-bottom: 5px;
      }

      .price-range-slider {
        width: 100%;
        height: 8px;
        background: #d1d4fe;
        border-radius: 5px;
        outline: none;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: #2020b3;
        }

        &::-moz-range-thumb {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: #2020b3;
        }
      }
    }

    // * coupon counter

    .quantity-selector {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      .label {
        color: #46494f;
        margin-left: 15px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
      }
      .counter-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        border: 1px solid #46494f;
        background: #fff;
        box-shadow: 0px 2.286px 7.429px 0px rgba(0, 0, 0, 0.16);
        padding: 6px 16px;
        line-height: 1;
        .seperator {
          margin: 0 16px;
        }
        .button {
          background-color: #f0f0f0;
          border: 1px solid #ccc;
          // padding: 5px 10px;
          cursor: pointer;
          font-size: 16px;
          transition: background-color 0.3s ease;
          display: flex;
          align-items: center;
          padding: 0;
          &:hover {
            background-color: #ddd;
          }

          &.minus {
            background-color: #ffffff;
            border-radius: 6px;
            border: unset;
            font-weight: 900;
          }

          &.plus {
            background-color: #ffffff;
            border-radius: 6px;
            border: unset;
            font-weight: 900;
          }
        }

        .quantity {
          font-size: 20px;
          font-weight: bold;
          margin: 0;
        }
      }
    }

    // * addtocardBtn
    .addtocardBtn-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 16px;
      gap: 6px;
      border-radius: 6px;
      border: 1px solid #46494f;
      background: #fff;
      box-shadow: 0px 2.286px 7.429px 0px rgba(0, 0, 0, 0.16);
      flex-direction: row-reverse;
      margin-bottom: 10px;
      width: 100%;
      text-decoration: none;
      cursor: pointer;

      .text {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        color: #46494f;
      }
      .addtocardBtn-logo {
        width: 16px;
        height: auto;
        svg {
        }
      }
    }
    // * quick purchase
    .quick-purchase-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      background: #2020b3;
      box-shadow: 0px 2.286px 7.429px 0px rgba(0, 0, 0, 0.16);
      padding: 12px 16px;
      gap: 3px;
      width: 100%;
      margin-bottom: 30px;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      .text {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        color: #ffffff;
      }
      .arrow {
        svg {
          path {
          }
        }
      }
    }
    // * expiration date
    .expiration-date-wrap {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      width: 100%;
      gap: 5px;
      .expiration-date {
        color: #46494f;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
      }
      .expiration-date-sidetext {
        color: #46494f;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
      }
    }
    // * clubPrice declaimer
    .clubPrice-declaimer-wrapper {
      display: flex;
      line-height: 22px;
      margin-bottom: 10px;
      .declaimer-text {
        color: #46494f;
        font-weight: 400;
        font-size: 15px;
        margin: 0;
        .declaimer-bold {
          color: #46494f;
          font-weight: 700;
          font-size: 15px;
          margin: 0;
        }
      }
    }
    // * discountPrice declaimer
    .discountPrice-declaimer-wrapper {
      line-height: 22px;
      .declaimer-text {
        color: #46494f;
        font-weight: 400;
        font-size: 15px;
        margin: 0;
        .declaimer-bold {
          color: #46494f;
          font-weight: 700;
          font-size: 15px;
        }
      }
    }
  }
  // ? coupon-card

  // * coupon-info-card
  .coupon-info-card {
    // width: 100%;
    // max-width: 400px;
    margin: 0 auto;
    // padding: 20px;
    margin-bottom: 40px;
    border-radius: 28px 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .toggles {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-bottom: 20px;
      // position: absolute;
      // top: 49px;
      margin: 0;

      .toggle {
        padding: 10px 20px;
        border: 2px solid #fff;
        background-color: #f3f3ff;
        cursor: pointer;
        font-size: 14px;
        border-radius: 4px;
        transition: background-color 0.3s ease, color 0.3s ease;
        border-radius: 8px 8px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        &.active {
          background-color: #2020b3;
          color: #fff;
          svg {
            path {
              stroke: #ffffff;
            }
          }
        }
      }
    }

    .info-container {
      width: 335px;
      // height: 790px;
      padding: 28px 24px;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      border: 2px solid #fff;
      background: #fff;
      box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.08);
      border-radius: 20px;
      .info {
        display: none;
        .title {
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          color: #0b0427;
          margin-bottom: 18px;
        }
        .details {
          margin-bottom: 37.5px;
          line-height: 19px;
          font-size: 16px;
          a {
            color: #000;
          }
        }
        .second-title {
        }
        .note {
          line-height: 18px;
          font-size: 15px;
        }
      }

      .info.active {
        display: block;
      }
    }
  }
  // ?coupon-info-card

  @media (min-width: 1200px) {
    padding-top: 264px;
    // display: flex;
    display: flex;
    position: relative;
    padding-right: 360px;
    // * coupon-img-wrapper
    .coupon-img-wrapper {
      width: 850px;
      background: #ffffff;
      border-radius: unset;
      flex-direction: column-reverse;
      align-items: center;
      padding: 40px 20px;
      margin-bottom: 59px;

      grid-column: 2;
      grid-row: 1;
      .img {
        width: 770px;
        border-radius: unset;
      }
      .img-text {
        color: #0b0427;
        font-size: 40px;
        position: relative;
        margin-right: 34px;
        margin-bottom: 20px;
        .icon {
          width: 34px;
          path {
            fill: #2020b3;
          }
        }
        span {
        }
      }
    }
    // ? coupon-img-wrapper

    // * coupon-card
    .coupon-card {
      position: absolute;
      top: 264px;
      right: calc(50% - 598px);
      box-shadow: 0px 445px 125px 0px rgba(27, 22, 90, 0),
        0px 285px 114px 0px rgba(27, 22, 90, 0.01), 0px 160px 96px 0px rgba(27, 22, 90, 0.05),
        0px 71px 71px 0px rgba(27, 22, 90, 0.09), 0px 18px 39px 0px rgba(27, 22, 90, 0.1);
      padding: 0 20px 40px;
      margin-bottom: 0;
      .logo {
        width: 290px;
      }
      .price-wrapper {
        .Benefit-value-box {
          .title {
          }
          .text {
          }
        }
        .discount-price-box {
          .title {
          }

          .text {
          }
          .subtext {
          }
        }
        .club-price-box {
          .title {
          }
          .text {
          }
          .subtext {
          }
        }
      }

      //  * progress bar
      .progress-container {
        .title {
        }
        .points {
        }
        .range-labels {
        }

        .price-range-slider {
          &::-webkit-slider-thumb {
          }

          &::-moz-range-thumb {
          }
        }
      }

      // * coupon counter

      .quantity-selector {
        .label {
          font-size: 17px;
        }
        .counter-wrapper {
          .seperator {
          }
          .button {
            &:hover {
            }

            &.minus {
              &:hover {
                transform: scale(1.8);
                color: red;
                line-height: 1;
              }
              &:active {
                transform: scale(1);
              }
            }

            &.plus {
              &:hover {
                transform: scale(1.8);
                color: green;
                line-height: 1;
              }
              &:active {
                transform: scale(1);
              }
            }
          }

          .quantity {
            font-size: 18px;
          }
        }
      }

      // * addtocardBtn
      .addtocardBtn-wrapper {
        .text {
        }
        .addtocardBtn-logo {
          svg {
          }
        }
        &:hover {
          .addtocardBtn-logo {
            animation: giggle 0.3s ease forwards;
          }
        }
      }
      // * quick purchase
      .quick-purchase-wrapper {
        &:hover {
          background: #ffffff;
          .text {
            color: #2020b3;
          }
          .arrow {
            svg {
              path {
                stroke: #2020b3;
              }
            }
          }
        }
        &:hover {
          .text {
          }
          .arrow {
            svg {
              path {
              }
            }
          }
        }
        .text {
        }
        .arrow {
          svg {
            path {
            }
          }
        }
      }
      // * expiration date
      .expiration-date-wrap {
        .expiration-date {
        }
        .expiration-date-sidetext {
        }
      }
      // * clubPrice declaimer
      .clubPrice-declaimer-wrapper {
        .declaimer-text {
          .declaimer-bold {
          }
        }
      }
      // * discountPrice declaimer
      .discountPrice-declaimer-wrapper {
        .declaimer-text {
          .declaimer-bold {
          }
        }
      }
    }
    // ? coupon-card

    // * coupon-info-card
    .coupon-info-card {
      display: flex;
      align-items: flex-start;
      .toggles {
        margin-right: 40px;
        gap: 12px;
        .toggle {
          width: 161px;
          font-size: 18px;
          &:hover {
            background-color: #d0d0ef;
            // color: #fff;
            svg {
              path {
              }
            }
          }
          svg {
            path {
              stroke: #46494f;
            }
          }
          &.active {
            background-color: #2020b3;
            color: #fff;
            svg {
              path {
                // stroke: #ffffff;
              }
            }
          }
        }
      }

      .info-container {
        width: 850px;
        padding: 40px;
        .info {
          .title {
            margin-top: 0;
          }
          .details {
            line-height: 1.77;
          }
          .second-title {
            margin-top: 0;
          }
          .note {
            line-height: 1.77;
          }
        }

        .info.active {
        }
      }
    }
    // ?coupon-info-card
  }
  @media (min-width: 1600px) {
    // * coupon-img-wrapper
    .coupon-img-wrapper {
      .img {
      }
      .img-text {
        .icon {
        }
        span {
        }
      }
    }
    // ? coupon-img-wrapper

    // * coupon-card
    .coupon-card {
      .logo {
      }
      .price-wrapper {
        .Benefit-value-box {
          .title {
          }
          .text {
          }
        }
        .discount-price-box {
          .title {
          }

          .text {
          }
          .subtext {
          }
        }
        .club-price-box {
          .title {
          }
          .text {
          }
          .subtext {
          }
        }
      }

      //  * progress bar
      .progress-container {
        .title {
        }
        .points {
        }
        .range-labels {
        }

        .price-range-slider {
          &::-webkit-slider-thumb {
          }

          &::-moz-range-thumb {
          }
        }
      }

      // * coupon counter

      .quantity-selector {
        .label {
        }
        .counter-wrapper {
          .seperator {
          }
          .button {
            &:hover {
            }

            &.minus {
              &:hover {
                // background-color: #ff9999;
              }
            }

            &.plus {
              &:hover {
                // background-color: #99ccff;
              }
            }
          }

          .quantity {
          }
        }
      }

      // * addtocardBtn
      .addtocardBtn-wrapper {
        .text {
        }
        .addtocardBtn-logo {
          svg {
          }
        }
      }
      // * quick purchase
      .quick-purchase-wrapper {
        &:hover {
          .text {
          }
          .arrow {
            svg {
              path {
              }
            }
          }
        }
        .text {
        }
        .arrow {
          svg {
            path {
            }
          }
        }
      }
      // * expiration date
      .expiration-date-wrap {
        .expiration-date {
        }
        .expiration-date-sidetext {
        }
      }
      // * clubPrice declaimer
      .clubPrice-declaimer-wrapper {
        .declaimer-text {
          .declaimer-bold {
          }
        }
      }
      // * discountPrice declaimer
      .discountPrice-declaimer-wrapper {
        .declaimer-text {
          .declaimer-bold {
          }
        }
      }
    }
    // ? coupon-card

    // * coupon-info-card
    .coupon-info-card {
      .toggles {
        .toggle {
          svg {
            path {
            }
          }
          &.active {
            svg {
              path {
              }
            }
          }

          &:hover {
            // background-color: #e8e8ff;
          }
        }
      }

      .info-container {
        .info {
          .title {
          }
          .details {
          }
          .second-title {
          }
          .note {
          }
        }

        .info.active {
        }
      }
    }
    // ?coupon-info-card
  }
}
