@import "./variables.scss";

.payment {
  padding-block: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__items {
    border-radius: 20px;
    border: 2px solid $color-white;
    background: $color-white;
    box-shadow: $popup-box-shadow2;
    padding: 28px 24px;
    margin-bottom: 20px;
    max-width: 335px;
    width: 100%;
    &-title {
      font-size: 26px;
      margin-bottom: 10px;
    }
  }

  &__separator {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
    opacity: 0.1;
    &--desktop {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;

    &-image {
      width: 80px;
      height: auto;
      border-radius: 5px;
    }

    &-details {
      display: flex;
      flex-direction: column;
    }

    &-title {
      font-size: 14px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 8px;
      order: 0;
    }

    &-subtitle {
      font-size: 16px;
      color: $color-black;
      font-weight: 400;
      margin: 0;
      order: 1;
    }

    &-supplier {
      font-weight: 400;
      color: $color-primary;
    }
    &-price {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      color: $color-black;
      margin-bottom: 8px;
      order: 1;

      .note {
        font-size: 16px;
        font-style: normal;
        color: $color-black;
        font-weight: 500;
      }
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 0;

    &-label {
      font-weight: 400;
      font-size: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }
    &-price {
      font-size: 16px;
      font-weight: 400;
      border-radius: 38px;
      background: #f8f8f8;
      padding: 0 16px;
      order: 2;

      &-note {
        font-size: 16px;
      }
    }
    &-price.desktop {
      display: none;
      .note {
      }
    }
  }

  // Details Section
  &__details {
    padding: 28px 24px;
    border-radius: 20px;
    border: 2px solid $color-white;
    background: $color-white;
    box-shadow: $popup-box-shadow2;
    max-width: 335px;
    width: 100%;
    &-title {
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 14px;
    }
  }

  &__form {
    margin-top: 10px;

    &-label {
      display: flex;
      font-weight: 500;
      width: 100%;
      max-width: 135px;
      flex-basis: 38%;
      span {
      }
    }

    &-label.last-child {
      flex-basis: 70%;

      svg {
        margin-right: 6px;
      }
    }
    &-icon {
      width: 24px;
      height: auto;
      cursor: pointer;
      margin-left: 12px;
    }

    &-input {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      appearance: none;
      background-color: white;
      flex-basis: 75%;
      padding: 4px;
      &:focus-visible {
        border-bottom: 1px solid;
        outline: unset;
        border-radius: 0;
      }
      &:focus {
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
    &-input.selector {
      flex-basis: 100%;
      cursor: pointer;
    }
  }
  &__hovered-popup {
    display: none;
    position: absolute;
    left: calc(50% + 5px);
    bottom: 13px;
  }
  &__selector-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    svg {
      position: absolute;
      left: 0px;
      pointer-events: none;
    }
  }
  &__field-wrapper {
    display: flex;
    gap: 12px;
    margin-bottom: 27px;
    align-items: flex-end;
  }
  &__field-wrapper.cvv {
    margin-bottom: 14px;
    gap: 0;
  }
  &__expiration-date {
    display: flex;
    // gap: 16px;
    margin-bottom: 27px;
  }
  &__date-wrapper {
    display: flex;
    gap: 45px;
    flex: 1;
  }
  &__img-wrapper {
    display: flex;
    justify-content: center;
    border-radius: 6px;
    background: #eee;
    padding: 12px 0;
  }
  &__ssh {
    width: 258.439px;
    height: 52.334px;
  }
  &__error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
    font-weight: 700;
  }
  &__submit-form {
    display: flex;
    width: 100%;
    background-color: $color-primary;
    border: 2px solid $color-white;
    color: $color-white;
    box-shadow: $color-button;
    margin-bottom: 14px;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    gap: 4px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    &:visited {
      .payment__submit-icon {
        animation: drivingCart 1.25s ease-in-out forwards;
      }
    }
  }
  &__submit-text {
  }
  &__submit-icon {
  }
  @media (min-width: 1200px) {
    padding-top: 272px;
    padding-bottom: 142px;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    // margin-block: 163px;
    align-items: flex-start;

    &__items {
      max-width: 660px;
      padding: 40px;
      &-title {
        margin-bottom: 40px;
      }
    }

    &__separator {
      margin-block: 40px;
      opacity: 0.1;
      &--desktop {
      }
    }

    &__item {
      margin-bottom: 0;
      gap: 12px;
      justify-content: flex-start;
      position: relative;
      &-image {
        width: 178px;
      }

      &-details {
      }

      &-title {
        font-size: 30px;
      }

      &-subtitle {
        font-size: 24px;
      }

      &-supplier {
      }
      &-price {
        font-size: 24px;
        // display: none;
        order: 2;
        .note {
        }
      }
      &-price.desktop {
        font-size: 24px;
        display: flex;
        left: 0;
        position: absolute;
        flex-direction: row-reverse;
        padding-left: 20px;
        .note {
        }
      }
    }

    &__total {
      margin-bottom: 40px;
      &-label {
      }

      &:last-child {
      }
      &-price {
        &-note {
        }
      }
    }

    // Details Section
    &__details {
      max-width: 500px;
      &-title {
        margin-bottom: 40px;
        font-size: 30px;
      }
    }

    &__form {
      &-label {
        font-size: 18px;
        flex-basis: 43%;
        span {
        }
      }

      &-label.last-child {
        max-width: 147px;
        // cursor: pointer;

        svg {
        }
      }
      &-icon {
        width: 26px;
        height: auto;
        margin-left: 12px;
      }

      &-input {
        flex-basis: initial;
        &:focus-visible {
        }
      }
      &-input.cvv {
      }
    }
    &__hovered-popup {
      display: none;
      position: relative;
      z-index: 10;
      position: absolute;
      left: calc(50% - -414px);
      bottom: 323px;
      img {
      }
    }
    &__selector-wrapper {
      svg {
      }
    }
    &__field-wrapper {
      margin-bottom: 52px;
    }
    &__field-wrapper.cvv {
      margin-bottom: 60px;
      display: flex;
      align-items: center;
    }
    &__expiration-date {
      margin-bottom: 52px;
    }
    &__date-wrapper {
    }
    &__img-wrapper {
    }
    &__ssh {
    }
    &__error {
      color: red;
      font-size: 14px;
      margin-top: 5px;
      display: block;
    }
    &__submit-form {
      display: flex;
      width: 100%;
      background-color: $color-primary;
      border: 2px solid $color-white;
      color: $color-white;
      box-shadow: $color-button;
      margin-bottom: 40px;
      margin-top: 0;
      &:hover {
        .payment__submit-icon {
          animation: drivingCart 1.25s ease-in-out forwards;
        }
      }
    }
    &__submit-text {
    }
    &__submit-icon {
    }
  }
}
