@import "./login/login-container.scss";
@import "./variables.scss";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 40px;

  @media (min-width: 1200px) {
    padding-top: 272px;
    padding-bottom: 120px;
  }
}
