@import "../stylesheets/registration/registration-container.scss";
@import "./variables.scss";

.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 40px;
  @media (min-width: 1200px) {
    padding-top: 272px;
    padding-bottom: 52px;
  }
}
