@import "./variables.scss";

.footer {
  background-color: $color-blackish;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &_row {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .footer_seperator {
      height: 12px;
      margin: 0 12px;
      opacity: 0.5;
    }
    .footer_seperator.third {
      display: none;
    }
  }

  /* #1 row */
  &_row.first {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    .isracard-text {
      width: 68px;
      height: auto;
    }
    .text-logo {
      width: 30px;
      height: auto;
    }

    .corprate-text {
      color: $color-white;
    }
    .img {
    }
  }

  .desktop-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &_row.second,
    &_row.third,
    &_row.forth,
    &_row.fifth,
    &_row.sixth {
    }
  }
  /* #2 row */

  &_row.second {
    .link {
      color: $color-white;
      font-weight: 500;
    }
  }
  /* #3 row */

  &_row.third {
    .social-link {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.08);
      width: 168px;
      padding: 8px 16px;
      border-radius: 8px;
      gap: 14px;
      &-text {
        color: $color-white;
      }
      .social-logo {
        display: flex;
        justify-content: center;
        svg {
          width: 23px;
          height: auto;
        }
      }
    }
  }

  &_row.forth {
    .social-logo {
      display: none;
    }
    .footer-contact.white {
      color: $color-white;
    }
  }
  &_row.fifth {
    .footer-contact.grey {
      color: $color-white;
      opacity: 0.7;
    }

    .footer-contact-third {
      display: none;
    }
  }
  &_row.sixth {
    .footer-trade-marks {
      color: $color-white;
      opacity: 0.7;
    }
  }

  @media (min-width: 992px) {
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 42px 60px;
    flex-direction: row-reverse;
    .footer_seperator.third {
      display: flex;
    }
    &_row.first {
      justify-content: flex-start;
      gap: 12px;
      margin-bottom: 0;
      .isracard-text {
        width: 144.492px;
        height: auto;
      }
      .text-logo {
        width: 70px;
        height: auto;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        }
      }

      .corprate-text {
        color: $color-white;
        font-size: 30px;
      }
      .img {
      }
    }
    .desktop-wrapper {
      align-items: flex-start;
      &_row.second,
      &_row.third,
      &_row.forth,
      &_row.fifth,
      &_row.sixth {
        justify-content: flex-start;
      }
    }

    &_row.second {
      order: 1;
      justify-content: space-around;
      .link {
        transition: all 0.2s ease-in-out;
        font-size: 22px;
        &:hover {
          text-decoration: none;
          text-shadow: 0 0 8px rgba(255, 255, 255, 0.5), 0 0 15px rgba(200, 200, 200, 0.4),
            0 0 30px rgba(200, 200, 200, 0.6), 0 0 40px rgba(255, 255, 255, 0.8);
        }
      }
    }
    &_row.third {
      order: 2;
      display: none;
      width: 200px;
      gap: 20px;
    }
    &_row.forth {
      order: 2;
      display: flex;
      gap: 27px;
      order: 2;
      .social-logo {
        display: flex;
        cursor: pointer;
        svg {
          width: 31px;
          height: auto;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(1.2) rotate(360deg);
            rect {
              fill: #1877f2;
            }
            path {
              fill: white;
            }
          }
          &:active {
            transform: scale(1);
          }
        }
      }
      .footer-contact.white {
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: #3f3fea;
        }
      }
      .footer-contact.first {
      }
      .footer-contact.second {
      }
      .footer-contact.third {
      }
    }
    &_row.fifth {
      order: 1;
      flex-direction: row;
      .footer-contact.grey {
        opacity: 0.9;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          text-shadow: 0 0 8px rgba(255, 255, 255, 0.5), 0 0 15px rgba(200, 200, 200, 0.4),
            0 0 30px rgba(200, 200, 200, 0.6), 0 0 40px rgba(255, 255, 255, 0.8);
        }
      }
      .footer-contact-third {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
      }
    }
    &_row.sixth {
      order: 3;
      .footer-trade-marks {
        font-size: 18px;
      }
    }
  }
  // @media (min-width: 1600px) {
  // }
}
