.footer {
  background-color: #101820;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer .footer_row {
  margin-bottom: 20px;
}
.footer .footer_row .footer_seperator {
}
/* #1 row */
.footer .footer_row.first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 9px;
}
.footer .footer_row.first .footer_isracard-text {
  width: 68px;
  height: auto;
}

.footer .footer_row.first .footer-text-logo {
  width: 30px;
  height: auto;
}
.footer .footer_row.first .footer_text {
  color: #fff;
}
.footer .footer_row.first .footer_img {
}

/* #2 row */
.footer .footer_row.second {
}
.footer .footer_row.second .footer-link {
  color: #fff;
  font-weight: 500;
}

/* #3 row */
.footer .footer_row.third {
}
.footer .footer_row.third .footer_social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  background: rgba(255, 255, 255, 0.08);
  width: 155px;
  padding: 8px 16px;
  border-radius: 8px;
  gap: 14px;
}
.footer .footer_row.third .footer_social-link .footer_social-link-text {
  color: #fff;
  /* flex-basis: 50%; */
}
.footer .footer_row.third .footer_social-link .footer_social-logo {
  /* flex-basis: 50%; */
  display: flex;
  justify-content: center;
}
.footer .footer_row.third .footer_social-link .footer_social-logo svg {
  width: 23px;
  height: auto;
}

/* #4 row */
.footer .footer_row.forth {
}
.footer .footer_row.forth .footer-contact {
}
.footer .footer_row.forth .footer-contact.white {
  color: #fff;
}

/* #5 row */
.footer .footer_row.fifth {
}
.footer .footer_row.fifth .footer-contact {
}
.footer .footer_row.fifth .footer-contact.grey {
  color: #ffffff;
  opacity: 0.7;
}

/* #6 row */
.footer .footer_row.sixth {
}
.footer .footer_row.sixth .footer-trade-marks {
  color: #ffffff;
  opacity: 0.7;
}
