.product {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-width: 161px;
  // position: absolute;
  top: 0;
  height: 100%;
  // max-width: 161px;
  width: auto;
  .imgWrap {
    display: flex;
    position: relative;
    // margin-bottom: 16px;
    justify-content: center;
    width: 100%;
    &-favBtn {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;

      svg {
        width: 50px;
        fill: white;
        rect {
          // fill: white;
          fill: transparent;
        }
        path {
          stroke: black;
        }
      }
    }

    &-img {
      width: 161px;
      height: auto;
    }
  }

  .priceWrap {
    margin: 0 0 12px;
    // align-self: end;
    display: flex;
    align-items: center;
    // flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 6px;
    &--priceText {
      font-size: 20px;
      color: #46494f;
      font-weight: 700;
    }

    &--priceDel {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .description {
    padding: 0 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &--logo {
      width: 100px;
      height: auto;
      // align-self: end;
    }

    &--device {
      font-size: 15px;
      font-weight: 500;
      // align-self: end;
      text-align: right;
    }

    &--desc {
      font-size: 15px;
      color: #666;
      // align-self: end;
      font-weight: 400;
      margin-bottom: 16px;
      text-align: right;
    }
  }
  .product__counter {
    padding: 0 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    &--counterWrap {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      &--maxBtn,
      &--minBtn {
        background-color: #fff;
        border: none;
        border-radius: 5px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        font-size: 20px;
        border: 1px solid #ddd;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
      }
      &--maxBtn {
        margin-left: 8.5px;
      }
      &--minBtn {
        margin-right: 8.5px;
      }

      &--indicatorText {
        font-size: 15px;
        margin-right: 5px;
      }

      &--countDigit {
        font-size: 18px;
        font-weight: 500;
        border-radius: 2.164px;
        border: 1.082px solid #ddd;
        background: #fff;
        width: 50px;
        display: flex;
        justify-content: center;
        padding: 2px 0;
      }
    }

    &--addToCartBtn {
      background-color: #f2a347;
      color: black;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      border: none;
      border-radius: 5px;
      padding: 2px 16px;
      width: 100px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        // background-color: #1818a3;
      }

      &--addToCartText {
        font-size: 16px;
      }
    }
  }

  @media (min-width: 1600px) {
    height: 100%;
    max-width: 100%;

    .imgWrap {
      display: flex;
      position: relative;
      // margin-bottom: 16px;

      &-favBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;

        svg {
          width: 50px;
          fill: white;
          rect {
            // fill: white;
            fill: transparent;
          }

          path {
            stroke: black;
          }
        }
      }

      &-img {
        width: 100%;
        max-width: 441px;
        height: auto;
      }
    }

    .priceWrap {
      margin: 0 0 35px;
      // align-self: end;
      display: flex;
      align-items: center;
      // flex-direction: row-reverse;
      justify-content: flex-start;
      gap: 6px;
      &--priceText {
        font-size: 30.295px;
        color: #46494f;
        font-weight: 700;
      }

      &--priceDel {
        font-size: 30.295px;
        color: rgba(0, 0, 0, 0.5);
      }
    }
    .description {
      padding: 0 21px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &--logo {
        width: 100px;
        height: auto;
        // align-self: end;
      }

      &--device {
        font-size: 25px;
        font-weight: 500;
        // align-self: end;
      }

      &--desc {
        font-size: 25px;
        color: #666;
        // align-self: end;
        font-weight: 400;
        margin-bottom: 16px;
      }
    }
    .product__counter {
      padding: 0 21px 21px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;

      &--counterWrap {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        &--maxBtn,
        &--minBtn {
          background-color: #fff;
          border: none;
          border-radius: 5px;
          width: 30px;
          height: 30px;
          cursor: pointer;
          font-size: 20px;
          border: 1px solid #ddd;
          border-radius: 50%;
        }
        &--maxBtn {
          margin-left: 20px;
        }
        &--minBtn {
          margin-right: 20px;
        }

        &--indicatorText {
          font-size: 17px;
          margin-right: 5px;
        }

        &--countDigit {
          font-size: 21px;
          font-weight: 500;
          border-radius: 2.164px;
          border: 1.082px solid #ddd;
          background: #fff;
          width: 54px;
          display: flex;
          justify-content: center;
          padding: 7px 0;
        }
      }

      &--addToCartBtn {
        background-color: #f2a347;
        color: black;

        border: none;
        border-radius: 5px;
        padding: 10px 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          // background-color: #1818a3;
        }

        &--addToCartText {
          font-size: 16px;
        }
      }
    }
  }
}
