@import "./variables.scss";
* {
  box-sizing: border-box;
  font-family: "ICPangeaText";
}
html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: #fff;
  font-family: "ICPangeaText";
  font-size: 14px;
  color: $color-black;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease-in-out;
  direction: rtl;
}
body.body--menu-open {
  position: relative;
  z-index: 0;
  background: rgba(0, 0, 0, 0.8) !important;
}
#style-container {
  .arrow {
    width: 20.571px;
    height: 20.571px;
  }
}
