* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: #eee;
  font-family: "ICPangeaText";
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease-in-out;
}
body.body--menu-open {
  position: relative;
  z-index: 0;
  background: rgba(0, 0, 0, 0.8) !important;
}
#style-container {
}
