$color-primary: #2020b3;
$color-black: #000;
$color-white: #fff;
$box-shadow-default: 0px 2.286px 7.429px rgba(0, 0, 0, 0.16);
$box-shadow-search: 0px 7px 20px rgba(0, 0, 0, 0.12);
$border-radius: 6px;
$transition-default: 0.3s ease;
$transition-menu: 0.4s ease-in-out;

$header-bg: #ffffff;
$black: #000;
$blue: #2020b3;
$box-shadow: 0px 2.286px 7.429px rgba(0, 0, 0, 0.16);
$box-shadow-search: 0px 7px 20px rgba(0, 0, 0, 0.12);
