<div class="info-strip">
  <span class="first-header">שם הפריט</span>
  <span class="second-header">בשווי</span>
  <span class="third-header">פרטי שובר</span>
  <span class="forth-header">מס׳ הזמנה</span>
  <span class="fifth-header">תאריך הזמנה</span>
</div>
<div class="order-wrapper">
  <div class="img-wrapper">
    <img src="../../../img/voucher-orders/voucher-img.jpg" class="img" alt="" />
    <div class="text-wrapper">
      <b>שובר ל- CASTRO</b>
      <span>שם הספק: קסטרו</span>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" class="horizontal-row" viewBox="0 0 247 3" fill="none">
    <path opacity="0.1" d="M0 2L247 1" stroke="black" />
  </svg>
  <div class="price-wrapper">
    <span class="price-text">בשווי</span>
    <span class="price-number">200 ₪</span>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" class="horizontal-row" viewBox="0 0 247 3" fill="none">
    <path opacity="0.1" d="M0 2L247 1" stroke="black" />
  </svg>
  <div class="vouncher-details">
    <span class="first-col">פרטי שובר</span>
    <div class="second-col">
      <span>קוד שובר <b>f6v32u</b></span>
      <span>תוקף שובר <b>30.12.24</b></span>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" class="horizontal-row" viewBox="0 0 247 3" fill="none">
    <path opacity="0.1" d="M0 2L247 1" stroke="black" />
  </svg>
  <div class="order-number">
    <span class="order-number--text">מס׳ הזמנה</span>
    <span class="order-number--num">4786411</span>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" class="horizontal-row" viewBox="0 0 247 3" fill="none">
    <path opacity="0.1" d="M0 2L247 1" stroke="black" />
  </svg>
  <div class="order-date">
    <span class="order-date--text">תאריך הזמנה</span>
    <div class="order-date--numWrap"><span>30.12.24</span> <span>12:30</span></div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" class="horizontal-row" viewBox="0 0 247 3" fill="none">
    <path opacity="0.1" d="M0 2L247 1" stroke="black" />
  </svg>
  <div class="icon-wrapper">
    <a href="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="20"
        viewBox="0 0 21 20"
        fill="none"
      >
        <path
          d="M18 12.5V13.5C18 14.9001 18 15.6002 17.7275 16.135C17.4878 16.6054 17.1054 16.9878 16.635 17.2275C16.1002 17.5 15.4001 17.5 14 17.5H7C5.59987 17.5 4.8998 17.5 4.36502 17.2275C3.89462 16.9878 3.51217 16.6054 3.27248 16.135C3 15.6002 3 14.9001 3 13.5V12.5M14.6667 8.33333L10.5 12.5M10.5 12.5L6.33333 8.33333M10.5 12.5V2.5"
          stroke="black"
          stroke-width="1.66667"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
    <a href="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="20"
        viewBox="0 0 21 20"
        fill="none"
      >
        <path
          d="M17.1668 10.4167V5.66675C17.1668 4.26662 17.1668 3.56655 16.8943 3.03177C16.6547 2.56137 16.2722 2.17892 15.8018 1.93923C15.267 1.66675 14.567 1.66675 13.1668 1.66675H7.8335C6.43336 1.66675 5.7333 1.66675 5.19852 1.93923C4.72811 2.17892 4.34566 2.56137 4.10598 3.03177C3.8335 3.56655 3.8335 4.26662 3.8335 5.66675V14.3334C3.8335 15.7335 3.8335 16.4336 4.10598 16.9684C4.34566 17.4388 4.72811 17.8212 5.19852 18.0609C5.7333 18.3334 6.43333 18.3334 7.83338 18.3334H10.9168M12.1668 9.16675H7.16683M8.8335 12.5001H7.16683M13.8335 5.83341H7.16683M13.0002 15.8334L15.5002 18.3334M15.5002 18.3334L18.0002 15.8334M15.5002 18.3334V13.3334"
          stroke="black"
          stroke-width="1.66667"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
    <a href="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="20"
        viewBox="0 0 21 20"
        fill="none"
      >
        <path
          d="M10.4998 13.3334V10.0001M10.4998 6.66675H10.5082M18.8332 10.0001C18.8332 14.6025 15.1022 18.3334 10.4998 18.3334C5.89746 18.3334 2.1665 14.6025 2.1665 10.0001C2.1665 5.39771 5.89746 1.66675 10.4998 1.66675C15.1022 1.66675 18.8332 5.39771 18.8332 10.0001Z"
          stroke="black"
          stroke-width="1.66667"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </div>
</div>
