<div class="sale-slider">
  @@include('../../features/section-header.html',{ 'placeholder-text':'חדש באתר' })
  <div #swiperRef="" class="swiper SaleSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        @@include('../../features/sale-card.html', { "bgimg": "card-img1.jpg", "logoimg":
        "traklin.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
        "false", "subtext": "רשת החשמל בישראל", "discountText": "4% הנחה", "discountSubtext":
        "למשלמים בכרטיס המועדון כולל כפל מבצעים", "isStampShown":"false" })
      </div>
      <div class="swiper-slide">
        @@include('../../features/sale-card.html',{ "bgimg":"card-img2.jpg",
        "logoimg":"theathor.png","stampfill":"2020b3", "stampText": "הטבת פרימיום",
        "subtext":"תיאטרון ילדים","discountText":"₪55","discountSubtext":"כרטיס להצגה",
        "isCounterShown":"false","isStampShown":"true" })
      </div>
      <div class="swiper-slide">
        @@include('../../features/sale-card.html', { 'bgimg': 'card-img3.jpg', 'logoimg':
        'jerusalem-post.png', 'stampfill': '000000', 'stampText': '5% הנחה בחיוב', 'isCounterShown':
        'false', 'subtext': 'רשת החשמל בישראל', 'discountText': '50% הנחה ', 'discountSubtext':
        'למשלמים בכרטיס המועדון כולל כפל מבצעים','isStampShown':'true'})
      </div>
      <div class="swiper-slide">
        @@include('../../features/sale-card.html', { "bgimg": "card-img4.jpg", "logoimg":
        "deal-cosmetics.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
        "false", "subtext": "רשת החשמל בישראל", "discountText": "25% הנחה", "discountSubtext":
        "למשלמים בכרטיס המועדון כולל כפל מבצעים", "isStampShown":"true" })
      </div>
      <div class="swiper-slide">
        @@include('../../features/sale-card.html', { "bgimg": "card-img5.jpg", "logoimg":
        "energym.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
        "false", "subtext": "רשת החשמל בישראל", "discountText": "10% הנחה", "discountSubtext":
        "למשלמים בכרטיס המועדון כולל כפל מבצעים", "isStampShown":"false" })
      </div>
      <div class="swiper-slide">
        @@include('../../features/sale-card.html', { "bgimg": "card-img1.jpg", "logoimg":
        "traklin.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
        "false", "subtext": "רשת החשמל בישראל", "discountText": "4% הנחה", "discountSubtext":
        "למשלמים בכרטיס המועדון כולל כפל מבצעים", "isStampShown":"false" })
      </div>
      <div class="swiper-slide">
        @@include('../../features/sale-card.html',{ "bgimg":"card-img2.jpg",
        "logoimg":"theathor.png","stampfill":"2020b3", "stampText": "הטבת פרימיום",
        "subtext":"תיאטרון ילדים","discountText":"₪55","discountSubtext":"כרטיס להצגה",
        "isCounterShown":"false","isStampShown":"true" })
      </div>
      <div class="swiper-slide">
        @@include('../../features/sale-card.html', { 'bgimg': 'card-img3.jpg', 'logoimg':
        'jerusalem-post.png', 'stampfill': '000000', 'stampText': '5% הנחה בחיוב', 'isCounterShown':
        'false', 'subtext': 'רשת החשמל בישראל', 'discountText': '4% הנחה', 'discountSubtext':
        'למשלמים בכרטיס המועדון כולל כפל מבצעים','isStampShown':'true'})
      </div>
      <div class="swiper-slide">
        @@include('../../features/sale-card.html', { "bgimg": "card-img4.jpg", "logoimg":
        "deal-cosmetics.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
        "false", "subtext": "רשת החשמל בישראל", "discountText": "4% הנחה", "discountSubtext":
        "למשלמים בכרטיס המועדון כולל כפל מבצעים", "isStampShown":"true" })
      </div>
      <div class="swiper-slide">
        @@include('../../features/sale-card.html', { "bgimg": "card-img5.jpg", "logoimg":
        "energym.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
        "false", "subtext": "רשת החשמל בישראל", "discountText": "4% הנחה", "discountSubtext":
        "למשלמים בכרטיס המועדון כולל כפל מבצעים", "isStampShown":"false" })
      </div>
    </div>
    <div class="static-slide">
      <a href="#" class="link">
        <h2 class="title">
          להטבות
          <br />
          נוספות
          <br />
          בקטגוריה
        </h2>
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 35" fill="none">
          <rect x="1" y="1" width="34" height="33" rx="16.5" stroke="white" stroke-width="2" />
          <path
            d="M25.0827 18.01H10.916M10.916 18.01L17.9993 24.885M10.916 18.01L17.9993 11.135"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>
    <div class="pagination-wrapper">
      <div class="swiper-pagination"></div>
      @@include('../../features/slider-pagination.html',{ swiperId:4 })
    </div>
  </div>

  <!-- <div class="static-slide">
    <h2 class="title">
      להטבות
      <br />
      נוספות
      <br />
      בקטגוריה
    </h2>
    <a href="#" class="link">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 36 35"
        fill="none"
      >
        <rect
          x="1"
          y="1"
          width="34"
          height="33"
          rx="16.5"
          stroke="white"
          stroke-width="2"
        />
        <path
          d="M25.0827 18.01H10.916M10.916 18.01L17.9993 24.885M10.916 18.01L17.9993 11.135"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
        .static-slide.static {
      width: 235px;
      background-image: url("../img/product-slider/cat-static-link.jpg");
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  </div> -->
  <!-- mobile -->
  <div class="swiper salemobileSwiper" dir="rtl">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide-group">
          <div class="single-slide">
            @@include('../../features/sale-card.html', { "bgimg": "card-img1.jpg", "logoimg":
            "traklin.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
            "false", "subtext": "רשת החשמל בישראל", "discountText": "4% הנחה", "discountSubtext":
            "למשלמים בכרטיס המועדון כולל כפל מבצעים", "isStampShown":"false" })
          </div>
          <div class="single-slide">
            @@include('../../features/sale-card.html',{ "bgimg":"card-img2.jpg",
            "logoimg":"theathor.png","stampfill":"2020b3", "stampText": "הטבת פרימיום",
            "subtext":"תיאטרון ילדים","discountText":"₪55","discountSubtext":"כרטיס להצגה",
            "isCounterShown":"false","isStampShown":"true" })
          </div>
          <div class="single-slide">
            @@include('../../features/sale-card.html', { 'bgimg': 'card-img3.jpg', 'logoimg':
            'jerusalem-post.png', 'stampfill': '000000', 'stampText': '5% הנחה בחיוב',
            'isCounterShown': 'false', 'subtext': 'רשת החשמל בישראל', 'discountText': '4% הנחה',
            'discountSubtext': 'למשלמים בכרטיס המועדון כולל כפל מבצעים','isStampShown':'true'})
          </div>
          <div class="single-slide">
            @@include('../../features/sale-card.html', { "bgimg": "card-img4.jpg", "logoimg":
            "deal-cosmetics.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום",
            "isCounterShown": "false", "subtext": "רשת החשמל בישראל", "discountText": "4% הנחה",
            "discountSubtext": "למשלמים בכרטיס המועדון כולל כפל מבצעים", "isStampShown":"true" })
          </div>
          <div class="single-slide">
            @@include('../../features/sale-card.html', { "bgimg": "card-img5.jpg", "logoimg":
            "energym.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
            "false", "subtext": "רשת החשמל בישראל", "discountText": "4% הנחה", "discountSubtext":
            "למשלמים בכרטיס המועדון כולל כפל מבצעים", "isStampShown":"false" })
          </div>
          <div class="single-slide static">
            <a href="#" class="link">
              <h2 class="title">להטבות נוספות בקטגוריה</h2>
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 35" fill="none">
                <rect
                  x="1"
                  y="1"
                  width="34"
                  height="33"
                  rx="16.5"
                  stroke="white"
                  stroke-width="2"
                />
                <path
                  d="M25.0827 18.01H10.916M10.916 18.01L17.9993 24.885M10.916 18.01L17.9993 11.135"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slide-group">
          <div class="single-slide">
            @@include('../../features/sale-card.html', { "bgimg": "card-img1.jpg", "logoimg":
            "traklin.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
            "false", "subtext": "רשת החשמל בישראל", "discountText": "4% הנחה", "discountSubtext":
            "למשלמים בכרטיס המועדון כולל כפל מבצעים", "isStampShown":"false" })
          </div>
          <div class="single-slide">
            @@include('../../features/sale-card.html',{ "bgimg":"card-img2.jpg",
            "logoimg":"theathor.png","stampfill":"2020b3", "stampText": "הטבת פרימיום",
            "subtext":"תיאטרון ילדים","discountText":"₪55","discountSubtext":"כרטיס להצגה",
            "isCounterShown":"false","isStampShown":"true" })
          </div>
          <div class="single-slide">
            @@include('../../features/sale-card.html', { 'bgimg': 'card-img3.jpg', 'logoimg':
            'jerusalem-post.png', 'stampfill': '000000', 'stampText': '5% הנחה בחיוב',
            'isCounterShown': 'false', 'subtext': 'רשת החשמל בישראל', 'discountText': '4% הנחה',
            'discountSubtext': 'למשלמים בכרטיס המועדון כולל כפל מבצעים','isStampShown':'block'})
          </div>
          <div class="single-slide">
            @@include('../../features/sale-card.html', { "bgimg": "card-img4.jpg", "logoimg":
            "deal-cosmetics.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום",
            "isCounterShown": "false", "subtext": "רשת החשמל בישראל", "discountText": "4% הנחה",
            "discountSubtext": "למשלמים בכרטיס המועדון כולל כפל מבצעים", "isStampShown":"true" })
          </div>
          <div class="single-slide">
            @@include('../../features/sale-card.html', { "bgimg": "card-img5.jpg", "logoimg":
            "energym.png", "stampfill": "2020b3", "stampText": "הטבת פרימיום", "isCounterShown":
            "false", "subtext": "רשת החשמל בישראל", "discountText": "4% הנחה", "discountSubtext":
            "למשלמים בכרטיס המועדון כולל כפל מבצעים", "isStampShown":"false" })
          </div>
          <div class="single-slide static">
            <a href="#" class="link">
              <h2 class="title">להטבות נוספות בקטגוריה</h2>
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 35" fill="none">
                <rect
                  x="1"
                  y="1"
                  width="34"
                  height="33"
                  rx="16.5"
                  stroke="white"
                  stroke-width="2"
                />
                <path
                  d="M25.0827 18.01H10.916M10.916 18.01L17.9993 24.885M10.916 18.01L17.9993 11.135"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination-wrapper">
      <div class="swiper-pagination"></div>
      @@include('../../features/slider-pagination.html',{ swiperId:5 })
    </div>
  </div>
</div>
