<div class="showcase-slider">
  <div class="swiper showcaseSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source
            srcset="../../img/showcase-slider/showcase-desktop-img1.jpg"
            media="(min-width: 1200px)"
          />
          <img
            src="../../img/showcase-slider/showcase-img1.jpg"
            alt="castro slide"
            class="slide-img"
          />
        </picture>

        <div class="text-wrapper">
          <h3 class="slide-text">הכל לבית</h3>
          <h4 class="slide-subtext">מוצרים שאסור לכם לפספס!</h4>
          <a href="" class="slide-link">לפרטים נוספים</a>
        </div>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="../../img/showcase-slider/showcase-desktop-img1.jpg"
            media="(min-width: 1200px)"
          />
          <img
            src="../../img/showcase-slider/showcase-img1.jpg"
            alt="castro slide"
            class="slide-img"
          />
        </picture>

        <div class="text-wrapper">
          <h3 class="slide-text">הכל לבית</h3>
          <h4 class="slide-subtext">מוצרים שאסור לכם לפספס!</h4>
          <a href="" class="slide-link">לפרטים נוספים</a>
        </div>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="../../img/showcase-slider/showcase-desktop-img1.jpg"
            media="(min-width: 1200px)"
          />
          <img
            src="../../img/showcase-slider/showcase-img1.jpg"
            alt="castro slide"
            class="slide-img"
          />
        </picture>

        <div class="text-wrapper">
          <h3 class="slide-text">הכל לבית</h3>
          <h4 class="slide-subtext">מוצרים שאסור לכם לפספס!</h4>
          <a href="" class="slide-link">לפרטים נוספים</a>
        </div>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="../../img/showcase-slider/showcase-desktop-img1.jpg"
            media="(min-width: 1200px)"
          />
          <img
            src="../../img/showcase-slider/showcase-img1.jpg"
            alt="castro slide"
            class="slide-img"
          />
        </picture>

        <div class="text-wrapper">
          <h3 class="slide-text">הכל לבית</h3>
          <h4 class="slide-subtext">מוצרים שאסור לכם לפספס!</h4>
          <a href="" class="slide-link">לפרטים נוספים</a>
        </div>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="../../img/showcase-slider/showcase-desktop-img1.jpg"
            media="(min-width: 1200px)"
          />
          <img
            src="../../img/showcase-slider/showcase-img1.jpg"
            alt="castro slide"
            class="slide-img"
          />
        </picture>

        <div class="text-wrapper">
          <h3 class="slide-text">הכל לבית</h3>
          <h4 class="slide-subtext">מוצרים שאסור לכם לפספס!</h4>
          <a href="" class="slide-link">לפרטים נוספים</a>
        </div>
      </div>
    </div>
    <div class="pagination-wrapper">
      <div class="swiper-pagination"></div>
      @@include('../../features/slider-pagination.html',{ swiperId:8 })
    </div>
  </div>
</div>
