<div class="category-filter">
  <div class="mobile-selector">
    <span class="selector-text">סנן לפי:</span>

    <div class="custom-select-wrapper">
      <div class="custom-select" id="customSelect">
        <span class="custom-select-text">תיירות פנים</span>
        <div class="custom-select-arrow"></div>
      </div>
      <ul class="custom-select-options">
        <a href="#inner-tourisim"><li data-value="inner-tourism">תיירות פנים</li></a>
        <a href="#outer-tourisim"> <li data-value="outer-tourism">תיירות חוץ</li></a>
        <a href="#sport-events"> <li data-value="sport-events">אירועי ספורט</li></a>
        <a href="#last-min"><li data-value="last-min">הרגע האחרון</li></a>
        <a href="#shows"><li data-value="shows">הופעות</li></a>
        <a href="#camping"><li data-value="camping">קמפינג</li></a>
      </ul>
    </div>
  </div>
  <div class="filter-button-wrapper">
    <span class="selector-text">סנן לפי:</span>
    <div class="filter-buttons">
      <button class="filter-btn" data-filter="inner-tourism">
        <a href="#inner-tourisim">תיירות פנים</a>
      </button>
      <button class="filter-btn" data-filter="outer-tourism">
        <a href="#outer-tourisim">תיירות חוץ</a>
      </button>
      <button class="filter-btn" data-filter="sport-events">
        <a href="#sport-events"> אירועי ספורט</a>
      </button>
      <button class="filter-btn" data-filter="last-min">
        <a href="#last-min">הרגע האחרון</a>
      </button>
      <button class="filter-btn" data-filter="shows">
        <a href="#shows">הופעות</a>
      </button>
      <button class="filter-btn" data-filter="camping">
        <a href="#camping">קמפינג</a>
      </button>
    </div>
  </div>

  <div class="content">
    <div class="content-item active" data-filter="inner-tourism">
      @@include('../category/vacation-benefits-slider.html',{ "swiperPassedId":"10" })
      @@include('../category/discount-club-owner-slider.html',{ "swiperPassedId":"11" })
    </div>
    <div class="content-item" data-filter="outer-tourism">
      <!-- @@include('../category/discount-club-owner-slider.html',{ "swiperPassedId":"11" }) -->
      <!-- @@include('../category/vacation-benefits-slider.html',{ "swiperPassedId":"10" }) -->
    </div>
    <div class="content-item" data-filter="sport-events">
      <!-- @@include('../category/vacation-benefits-slider.html',{ "swiperPassedId":"10" }) -->
      <!-- @@include('../category/discount-club-owner-slider.html',{ "swiperPassedId":"11" }) -->
    </div>
    <div class="content-item" data-filter="last-min">
      <!-- @@include('../category/discount-club-owner-slider.html',{ "swiperPassedId":"11" }) -->
      <!-- @@include('../category/vacation-benefits-slider.html',{ "swiperPassedId":"10" }) -->
    </div>
    <div class="content-item" data-filter="shows">
      <!-- @@include('../category/vacation-benefits-slider.html',{ "swiperPassedId":"10" }) -->
      <!-- @@include('../category/discount-club-owner-slider.html',{ "swiperPassedId":"11" }) -->
    </div>
    <div class="content-item" data-filter="camping">
      <!-- @@include('../category/vacation-benefits-slider.html',{ "swiperPassedId":"10" }) -->
      <!-- @@include('../category/discount-club-owner-slider.htmהl',{ "swiperPassedId":"11" }) -->
    </div>
  </div>
</div>
