<div class="information-card">
  <div class="imgWrap">
    <img src="../../img/information-card/@@bgimg" alt="iphone" class="imgWrap--img" />
  </div>

  <div class="description">
    <img src="../../img/information-card/@@logoimg" alt="" class="description--logo" />
    <!-- <span class="description--device">@@subtext</span> -->
    <!-- <span class="description--desc">Flip 6 | יבואן רשמי</span> -->
    <div class="priceWrap">
      <span class="priceWrap--priceText">@@discountText</span>
      <span class="priceWrap--pricesubtextText">@@discountSubtext</span>
    </div>
  </div>

  <div class="detailsDate-container">
    <div class="date-wrap">
      <span class="date-text">בתוקף עד:</span>
      <span class="date-valid">@@validate</span>
    </div>
    <a href="" class="details-btn">
      <span class="btn-txt">לפרטים</span>
    </a>
  </div>
</div>
