<div class="popup" id="popup">
  <div class="popup__content">
    <div class="popup__image-container">
      <img src="../../img/cart/cart-img.jpg" alt="" class="popup__image" />
      <div class="popup__text-wrapper">
        <h3 class="popup__image-text">שובר ל- CASTRO</h3>
        <h4 class="popup__image-subtext">200 ₪</h4>
      </div>
    </div>
    <div class="cart-page__separator-dekstop"></div>
    <span class="popup__close" id="popupClose">&times;</span>
    <div class="popup__payment-conclution">
      <h2 class="popup__payment-text">סה״כ תשלום</h2>
      <h2 class="popup__payment-price"><span>₪</span>200</h2>
    </div>
    <div class="button-wrapper">
      @@include('./button.html',{"button-icon":"../../img/svg/payment.svg","backgroundColor":"regular",
      "button-text":"לתשלום כעת" ,"button-link":"/?page=payment"})
      <!--  -->
      @@include('./button.html', { "button-icon":"", "button-text":"המשך קנייה באתר"
      ,"backgroundColor":"outline","button-link":"/?page=home"})

      <img src="./" alt="" />
    </div>
  </div>
</div>
