<div class="product">
  <div class="product__imgWrap">
    <a href="#" class="product__imgWrap-favBtn" id="favIcon">
      <svg
        height="49"
        viewBox="0 0 50 49"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="0.533203"
          y="0.0654297"
          width="48.6885"
          height="48.6885"
          rx="24.3443"
          fill="white"
        />
        <path
          id="heartPath"
          d="M25.089 16.2866C24.9828 16.4242 24.7716 16.4242 24.6654 16.2866C21.8683 12.6602 17.5085 12.284 14.7935 15.1578C12.0089 18.1053 12.0089 22.8841 14.7935 25.8316L23.3647 34.9043C24.2 35.7886 25.5544 35.7886 26.3898 34.9043L34.9609 25.8316C37.7455 22.8841 37.7455 18.1053 34.9609 15.1578C32.2459 12.284 27.8861 12.6602 25.089 16.2866Z"
          stroke="black"
          stroke-width="2.02869"
        />
      </svg>
    </a>
    <img
      src="../../img/product-card/iphone-product.png"
      alt="iphone"
      class="product__imgWrap-img"
    />
  </div>

  <div class="product__description">
    <img
      src="../../img/product-card/samsung-logo.svg"
      alt=""
      class="product__description--logo"
    />
    <span class="product__description--device">Galaxy S23 S911 256GB</span>
    <span class="product__description--desc">Flip 6 | יבואן רשמי</span>
    <div class="product__priceWrap">
      <span class="product__priceWrap--priceText">₪1,650</span>
      <del class="product__priceWrap--priceDel">₪3,600</del>
    </div>
  </div>

  <div class="product__counter">
    <div class="product__counter--counterWrap">
      <button class="product__counter--counterWrap--minBtn">-</button>
      <span class="product__counter--counterWrap--indicatorText">יח׳</span>
      <span class="product__counter--counterWrap--countDigit">1</span>
      <button class="product__counter--counterWrap--maxBtn">+</button>
    </div>
    <button class="product__counter--addToCartBtn" id="addToCartBtn">
      <span class="product__counter--addToCartText">הוספה</span>
    </button>
  </div>
</div>
